.con {
    width: 100%;
    margin: auto;
}


.title {
    margin: auto;
    margin-top: 30px;
    text-align: center;
}


/************ introArea ************/
.introArea {
    width: 70%;
    margin: auto;
}

.introCstmerSlide {
    width: 100%;
    height: 700px;
    margin-top: 30px;
}

.introCstmerSlide .intro1 {
    width: 100%;
    text-align: center;
    overflow: hidden;
    height: 700px;
}

.introCstmerSlide .intro1 img {
    width: 100%;
}

.slick-prev:hover, .cafeImgSlide .slick-next:hover {
    background: rgba(255, 255, 255, 0.7);
}

.slick-dots {
    top: -35px;
    background: #ddd;
    height: 0;
}

.slick-dots li {
    margin: 0;
}

.slick-dots li button {
    padding: 0;
}

.slick-dots li button:before {
    padding: 0;
    font-size: 40px;
}

.slick-prev:before {
    font-family: "FontAwesome";
    color: #333;
    content: "\f053";
}

.slick-next:before {
    font-family: "FontAwesome";
    content: "\f054";
    color: #333;
}

/************ guideArea ************/
.guideArea {
    width:70%;
    margin:auto;
}


/************ friendsArea ************/
.friendsArea h2 {
    padding:30px;
    text-align:center;
}

.friendsArea {
    width: 70%;
    margin: auto;
}

.friendsSlide .f_li {
    float: left;
    border: 1px solid #ddd;
    background: #cfcfcf;
    width: 25%;
    height: 100px;
}

#footer_cstmr {
    padding: 10px 0 40px 0;
    background: #373737;
    text-align: center;
}

#footer_cstmr .btn_mobile {
    padding: 5px 20px;
    background: #333;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    display: inline-block;
    color:#ddd;
}



/************ search ************/
.search {
    clear:both;
    width:100%;
    padding:30px;
    background:#ff5948;
}

.search .inputArea {
    margin:auto;
    width: 350px;
    min-height: 40px;
    border: 1px solid #b2b2b2;
    border-radius: 20px;
    background: #fff;
}

.search .inputArea .srchBar {
    float: left;
    width: 240px;
    padding: 8px 20px 9px 20px;
    font-size: 16px;
    color: #555;
    background: transparent;
}

.search .inputArea .btn_srch {
    float:left;
    width: 40px;
    height: 38px;
    background: url(../image/btn_searchB.png) no-repeat center center;
    font-size: 0;
}