@CHARSET "UTF-8";

body {
	
  font-family: '맑은 고딕', sans-serif;
}


body > .container {
	width: 960px;
	
}

#header {
	background-color:gray; 
	height:40px;
}

#sidebar {
  color: black;
  float: right;
  background-color:Navy; 
  float:left;
  width:100px; 
  height:900px;
  /* border: 1px solid red; */
}

#content {
	margin-left: 10px;
	float: right;
	width:820px; 
}

#content2 {
  width:360px; 
  margin-left: 40px;
  float: left;
}
#content3 {
  width:360px;
  height:800px;
  margin-left: 20px;
  margin-right: 40px;
  float: right; 
  
}

#wrapper {
	border: 1px solid red;
	margin: 0 auto;
	padding: 0px;
	width: 400px;
	height: -10px;
	
}








