.secTit {
	margin-bottom:5px;
}

.cafeinfo .sweet-alert button.cancel {
    width: 120px!important;
}

.cafeinfo .sweet-alert .sa-confirm-button-container {
	width: 120px!important;
}


/* /************ 카페소개 ************/

.intro {
    height: 630px;
     /* background: url("../image/detailpage.jpg") no-repeat center -80px;
    background-size: 100% 667px; */
    padding:0;
}

.intro-wrap{
	margin-top: 5px;
	
}

.cafe-card {
    width: 100%;
    height: 265px;
    margin: auto;
    margin-top: 15px;
    padding-bottom:20px;
    border-bottom:1px solid #888;
    overflow: hidden;
    position: relative;
}

.cafe-card .service {
	position: absolute;
	top:82%;
	left:0;
	text-align:center;
	width:100%;
	z-index:10;
	text-decoration:underline;
	font-size:1.2em;
	height:30px;
}

.stmp-circle {
	  display: none;
    position: absolute;
    border: none;
    border-radius: 100%;
    background-color:#fff;
    border:5px solid rgba(255,89,72, 0.8);
    width: 80px;
    height: 80px;
    margin-left: 30px;
    z-index:2;
    padding-top: 11px;
    text-align:center;
    color: #333;
    font-size: 1.2em;
    left:-15px;
}
.stmp-circle span {
	display:inline;
}
.stmp-circle .currentStampCount {
	font-weight:bold;
	font-size: 2em;
}

.bgwrap {
   margin:0 10%;
}
.stmpcard, .stmpcard2{
    margin-top: 16px;
    position: absolute;
    width: 80%;
    height:69%;
    z-index: 1;
    max-height:200px;
    border-radius:7px;
}
/* 
.cafe-text {
    margin: auto;
    margin-top: 30px;
    width: 80%;
    height: 250px;
}

.cafe-name {
    font-weight: bold;
    font-size: 40px;
}

.cafe-tag {
    color: gray;
}

.cafe-addr {
    margin-top: 10px;
}

.cafe-addr:before {
    width:20px;
  padding-right:7px;
  font-family:"FontAwesome";
  color:#b4b4b4;
  display:inline-block;
  text-align:center;
    content: "\f041";
}

.cafe-tel {
    margin-top: 10px;
}

.cafe-tel:before {
    width:20px;
  padding-right:7px;
  font-family:"FontAwesome";
  color:#b4b4b4;
  display:inline-block;
  text-align:center;
  content: "\f095";
}

.cafe-info {
    margin-top: 10px;
}

.cafe-info:before {
  width:20px;
  padding-right:7px;
  font-family:"FontAwesome";
  color:#b4b4b4;
  display:inline-block;
  text-align:center;
  content: "\f040";
}
 */



/************ introArea ************/
.introArea {
	position: relative;
	border-top: 10px solid #f4f4f4;
	padding: 20px 6% 0 6%;
	height: 120px;
}

.introArea .cafeLogo {
    float:left;
    width:25%;
    border:1px solid #ececec;
    text-align:center;
    padding:3%;
}

.introArea .cafeLogo img {
    height:60px;
}

.introArea .cafeTxt {
    float:left;
    width:68%;
    margin-left:3%;
}

.introArea .cafeTxt .cafeName {
    font-size:1.7em;
    color:#333;
    font-weight:bold;
    letter-spacing:-1px;
}

.introArea .cafeTxt .tag {
    display:block;
    margin:7px 0 0 0;
    font-size:0.9em;
    color:#999;
}

.introArea .cafeTxt .tag span {
    margin-right:10px;
}

.introArea .btn-edit {
    position:absolute;
    top:25px;
    right:5%;
    width:20px;
    height:20px;
    background:#fff;
    color:#999;
    overflow:hidden;
}

.cafeinfo_cstmr .introArea .cafeTxt .btn-edit {
    display:none;
}
    
.introArea .btn-edit:before {
    font-size:1.2em;
    display:block;
    margin-left:5px;
    font-family:"FontAwesome";
    content: "\f040";
}

.introArea .cafeTxt .txt {
    clear:both;
    padding-top:5px;
    color:#808080;
    font-size:0.7em;
}

 
.myCard {
    position:absolute;
    top: 25px;
    right: 6%;
    width:55px;
    height:55px;
    border:3px solid rgb(229, 229, 229);
    text-align:center;
    background:#fff;
    font-size:0.9em;
    background-size:60%;
    line-height:42px;
    cursor:pointer;
    z-index:50;
    overflow:hidden;
}

.myCard:before {
    text-align:center;
    display:block;
    height:15px;
    font-family:"FontAwesome";
    font-size:1.9em;
    line-height:37px;
    content: "\f063";
    color:#666;
}

.myCard.select {
    line-height:80px;
}

.myCard.select:before {
  margin:8px 0 0 2px;
  font-size:2.5em;
    content: "\f046";
    color:#ff5948;
}



.infoDetail {
	border-top:2px solid #f4f4f4;
    padding:15px 6% 25px 6%;
    clear:both;
}

.infoDetail .time,
.infoDetail .seat,
.infoDetail .tel,
.infoDetail .addr
{
    font-size:0.9em;
    color:#666;
}
    
.infoDetail .time:before,
.infoDetail .seat:before,
.infoDetail .tel:before,
.infoDetail .addr:before
{
    width:20px;
    padding-right:7px;
    font-family:"FontAwesome";
    color:#b4b4b4;
    display:inline-block;
    text-align:center;
}

.infoDetail .time:before {
    content: "\f017";
}

.infoDetail .seat:before {
    content: "\f007";
}

.infoDetail .tel:before {
    content: "\f095";
}

.infoDetail .addr:before {
    content: "\f041";
}



/* 고객액션 cstmr_action */
.cstmr_action {
	text-align: center;
	width: 100%; 
	background: url("../image/gradient_bgW.png") repeat-x left -10px;
}

/*  즐겨찾기 */
#favorite {
	display: inline-block;
	border: 3px solid #f0f0f0;
	border-radius: 50px;
	margin-left: 10px;
	width: 70px;
	height: 70px;
	vertical-align: middle;
}

#favorite:before {
	line-height: 65px;
	font-family: "FontAwesome";
	text-align: center;
	font-size: 2.5em;
}

#favorite.no:before {
	content: "\f005";
	color: #ccc;
}

#favorite.yes:before {
	content: "\f005";
	color: #fff;
}
#favorite.yes {
	border: 3px solid rgba(255,89,72, 0.8);
	background:rgba(255,89,72, 0.8);
}

/* 좋아요 */
#like {
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 3px solid #f0f0f0;
	border-radius: 50px;
	margin-left: 7px;
	text-align: center;
	background: #fff;
	cursor: pointer;
	z-index: 50;
	font-size: 0.9em;
	vertical-align: middle;
}

#like:before {
	text-align: center;
	display: block;
	margin-top: 10px;
	height: 30px;
	font-family: "FontAwesome";
	font-size: 2.1em;
	content: "\f08a";
	color: #ff5948;
}

#like.yes:before {
	content: "\f004";
	color: #ff5948;
}

.btn-message {
	display: inline-block;
	border: none;
	width: 70px;
	height: 70px;
	border: 3px solid #f0f0f0;
	border-radius: 50px;
	margin-left: 7px;
	background-image: url('../image/post.png');
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center 13px;
	vertical-align: middle;
	background-color:#fff;
}

.gift {
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 3px solid #f0f0f0;
	border-radius: 50px;
	margin-left: 7px;
	border-radius: 50px;
	background-image: url('../image/gift.png');
	background-size: 50% 45%;
	background-repeat: no-repeat;
	background-position: center 17px;
	vertical-align: middle;
	background-color:#fff;
}

/************ 대표메뉴 menuArea ************/
.menu {
    text-align: center;
    width: 20%;
    height: 100%;
    display: inline-block;
}
.menuArea {
    padding:15px 0 20px 0;
}

.menuArea:after {
    clear:both;
    display:block;
    content:' ';
}

.menuArea h3 { 
	padding:0 3% 5px 3%;
    font-size:1.4em;
    margin-bottom:10px;
    color: #444;
    font-weight:bold;
    letter-spacing:-1px;
}

.menuArea .menuList {
    padding:0 2%;	
}

.menuArea .menu {
	margin-bottom:20px;
	float:left;
    text-align:center;
    width:33.3%;
    height:100%;
}
    
.menuArea .menu .mnImg {
    margin: 0 auto 7px auto;
    width:88%;
    height:auto;
    border:1px solid #f4f4f4;
    border-radius:100px;
    overflow:hidden;
}

.menuArea .menu .mnImg img {
    width:100%;
    min-height: 103px;
    max-height: 103px;
}

.menuArea .menu .mnName {
    color:#333;
    font-size:1.1em;
    font-weight:bold;
}

.menuArea .menu .mnPrice {
	line-height:100%;
}


/************ 평점 및 리뷰 commentArea ************/
.commentArea {
    position:relative;
    width: 100%;
    padding:0 0 15px 0;
}


/* comment_form */
.formArea {
}

.commentArea h3 {
	text-align:center;
	padding:20px 3% 10px 3%;
    color: #444;
    letter-spacing:-1px;
    font-size:1.6em;
}

.commentArea h3:after {
	font-size:0.9em;
	margin-left:5px;
	color:#555;
    font-family:"FontAwesome";
    content: "\f040";
    vertical-align:top;
}
    
.comment_form {
	background: #f0f0f0;
	padding: 7px 3% 4px 3%;
}

.comment_form input {
	border: 1px solid #d3d3d3;
	padding: 8px 7px 7px 7px;
	font-size: 1.1em;
	border-radius: 5px;
}

.comment_form label {
	overflow: hidden;
	display: none;
}

.comment_form textarea {
	width: 100%;
	min-height: 100px;
	margin-top: 5px;
	border: 1px solid #d3d3d3;
	padding: 8px;
	font-size: 1.1em;
	color: #444;
	border-radius: 5px;
}

.submit {
	display:block;
	background:#ff5948;
	width:40%;
	padding:10px 10px 9px 10px;
	border:0;
	border-radius:7px;
	margin:10px auto 0 auto;
	color:#fff;
	font-size:1.2em;
}


/* 별점 starScore */
.starScore {
	margin-top:40px;
    padding:0 10px ;
    height:20px;
    margin-bottom:-15px;
}

.starScore:after {
    clear:both;
    content:' ';
    display:block;
}

.starScore .result {
	  width: 25%;
    font-size:0.9em;
    margin:5px 0 5px 7px;
    float:left;
}

.starScore .star {
    width: 120px;
    height: 20px;
    background: url(../image/rate_star.png) no-repeat -120px 0;
    background-size:240px 20px;
    float:left;
}

.starScore .star span {
    display: block;
    width: 120px;
    height: 20px;
    background: url(../image/rate_star.png) no-repeat 0px 0;
    background-size:240px 20px;
    font-size:0;
}

.starScore .star span.star0 {width:0%;}
.starScore .star span.star0_5 {width:10%;}
.starScore .star span.star1 {width:20%;}
.starScore .star span.star1_5 {width:30%;}
.starScore .star span.star2 {width:40%;}
.starScore .star span.star2_5 {width:50%;}
.starScore .star span.star3 {width:60%;}
.starScore .star span.star3_5 {width:70%;}
.starScore .star span.star4 {width:80%;}
.starScore .star span.star4_5 {width:90%;}
.starScore .star span.star5 {width:100%;}

.commentArea .comment_list {
    font-size: 0.8em;
}
.commentArea .comment_list .total {
	float:right;
    margin: 0 3% 2px 3%;
    color: #666;
    font-size:1.3em;
    display:inline-block;
}

.commentArea .comment_list ul {
	clear:both;
	border-top: 2px solid #555;
}

.commentArea .comment_list .total span {
    font-weight: bold;
    color: #ff5948;
}

.commentArea .comment_list li {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e7e8e9;
    padding:10px 3%;
    position:relative;
}

.commentArea .comment_list li .profileImg {
    float: left;
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.commentArea .comment_list li .profileImg img {
    width: 100%;
    height:100%;
    border-radius: 50px;
}

.commentArea .comment_list li .comment_txt {
    float: left;
    width: 75%;
    padding: 5px 0 7px 3%;
}

.commentArea .comment_list li .comment_txt strong {
    font-size: 1.3em;
    font-weight: bold;
    color: #333;
    line-height: 100%;
}

.commentArea .comment_list li .comment_txt p {
    margin-top: 3px;
    width: 100%;
    font-size: 1.2em;
    letter-spacing: -1px;
}

.commentArea .comment_list li .etcInfo {
    float:right;
    padding-bottom:12px;
    text-align: right;
    font-size: 1.1em;
}

.commentArea .comment_list li .date {
    color: #a8a8a8;
}

.comment_list .star {
    display: inline-block;
    float: right;
    width: 80px;
    height: 13px;
    background: url(../image/rate_starS.png) no-repeat -80px 0;
    background-size:160px 13px;
}

.comment_list .star span {
    display: block;
    height: 13px;
    background: url(../image/rate_starS.png) no-repeat 0 0;
    font-size:0;
    background-size:160px 13px;
}

.comment_list .star span.star0 {width:0%;}
.comment_list .star span.star0_5 {width:10%;}
.comment_list .star span.star1 {width:20%;}
.comment_list .star span.star1_5 {width:30%;}
.comment_list .star span.star2 {width:40%;}
.comment_list .star span.star2_5 {width:50%;}
.comment_list .star span.star3 {width:60%;}
.comment_list .star span.star3_5 {width:70%;}
.comment_list .star span.star4 {width:80%;}
.comment_list .star span.star4_5 {width:90%;}
.comment_list .star span.star5 {width:100%;}

.commentArea .btn-top:before {
    width: 100%;
    margin-top: 15px;
    background: #f6f6f6;
    text-align: center;
    color: #888;
    font-size: 1.2em;
    border: 0;
    padding: 12px 0 12px 0;
    font-family:"FontAwesome";
    content: "\f139";
}
.commentArea .btn-top {
    width: 100%;
    margin-top: 15px;
    background: #f6f6f6;
    text-align: center;
    color: #888;
    font-size: 1.2em;
    border: 0;
    padding: 12px 0 12px 0;
}

.intro-wrap {position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden;}



/**********별점매기기********/
.star_rating {
    width: 40%;
    float: right;
	font-size: 0;
	letter-spacing: -4px;
	text-align:center;
}

.star_rating a {
    font-size:22px;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color:#ccc;
    text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:rgb(255,89,72);}



#loading {
 width: 100%;   
 height: 100%;   
 top: 0px;
 left: 0px;
 position: fixed;   
 display: block;   
 opacity: 0.7;   
 background-color: #fff;   
 z-index: 99;   
 text-align: center; }  
 
#loading-image {   
 position: absolute;   
 top:17%;   
 left: -2%;   
 z-index: 1000; 
 } 
 
 
.delete-comments {
	position: absolute;
	top: 3px;
	right: 7px;
	display: none;
	background:#fff;
	border:0;
	box-shadow:none;
	font-size:1.2em;
}

.delete-comments.active {
	display:block;
	background:#fff;
	box-shadow:none;
}



/********************메시지**********************/

.writeWrap {
  display:none;
  z-index:1000;
  margin-top:-50px;
  background: rgba(0, 0, 0, .6);
  position: fixed;
  width: 100%;
  height: 100%;
}

.ui-overlay-shadow {
    box-shadow : 0 0 12px rgba(0,0,0,.3)!important;
    border:1px solid #ddd!important;
}

.writeArea {
  display:none;
  width:80%; 
  height: 400px;
  margin:0 auto;
  background:#fff;
  position:relative;
  box-shadow:0 5px 15px rgba(0, 0, 0, .5);
  border-radius:7px;
}

.writeArea .tit {
  font-size:1.4em;
    padding:15px 0;
    text-align:center;
    border-bottom:1px solid #ddd;
}

.inputWrap {
  padding:10px 5%;
}
.inputWrap select { 
  width:100%;
  height:40px;
  margin-bottom:5px;
  font-size:1.2em;
  border:1px solid #ccc; 
  border-radius:5px;
}

.inputWrap select  option {
  color:#555;
  font-size:0.8em;
}

.inputWrap select:focus {
  outline: none;
}
.writeArea .chat-input.form-control {
    height: 200px!important;
    width: 100%;
    padding: 5px;
    font-size:1.2em;
}
.writeArea .chat-input.input:focus {
  outline: none;
}
.writeArea .btn-send {
  margin-top:10px;
    background: #ff5948;
    width: 100%;
    height: 50px;
    cursor: pointer;
    text-align:center;
    clear:both;
    color:#fff;
    border-radius:7px;
    line-height:47px;
    font-size:1.2em;
}

.writeArea .btn-send img {
    width: 10%;
    line-height:
}

.btn-close {
  position:absolute;
  top:10px;
  right:20px;
  font-size:1.3em;
}