@CHARSET "UTF-8";

@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("default.css");
@import url("searchbar_expanding.css");

/*************************************************
                                    common                     
*************************************************/
* {
    font-family: "Noto Sans KR", "Nanum Gothic", "san-serif";
}

body {
	color: #444;
	word-break: break-all;
}

a {
	color: #222;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}


/*************************************************
                                    layout                     
*************************************************/

#header {
    width: 100%;
    height: 50px;
    background: #ff5948;
}

#header:after {
    display:block;
    content:' ';
    clear:both;
}

.main #header .logo {
	display:block;
	width:35%;
    margin: auto;
    text-align: center;
}

.main #pageTitle, #pageTit {
	display:none;
	
}

#header .logo {
    display:none;	
}
	
#pageTitle {
    position:absolute;
    width:60%;
    top:16px;
    left:50%;
    margin-left:-30%;	
    font-size:1.3em;
    color:#fff;
    text-align:center;
}

#header .logo img {
	width:auto;
	height:35px;
	margin-top:1px;
}


/*************************************************
                                    content                     
*************************************************/

/************ top bar ************/
.side-left-pushy-button {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../image/btn_navi.png) no-repeat center center #ff5948;
    background-size:21px 16px;
    margin-bottom:0;
    font-size: 0;
    transition: all 0.3s ease .05s;
}

.side-left-pushy-button:hover {
    background: url(../image/btn_navi.png) no-repeat center center #ff4040;
    background-size:21px 16px;
    transition: all 0.3s ease .05s;
}

/* btn_myLocat */
.main .btn_myLocat {
    display:block;
}

.likeCafe .btn_myLocat {
    display:block;
    width: 30px;
    right:50px;
}

.btn_myLocat {
	display:none;
    position: absolute;
    top:0;
    right:0;
    width: 50px;
    height: 50px;
    text-align:center;
    overflow:hidden;
}

.btn_myLocat:before {
	display:block;
	font-family:"FontAwesome";
    content: "\f041";
    font-size:1.7em;
    color:#fff;
    line-height:50px;
}


/* btn-home */
.main .btn_home {
    display:none;
}

.btn_home {
    display:block;
    position: absolute;
    top:0;
    right:0;
    width: 50px;
    height: 50px;
    text-align:center;
    overflow:hidden;
}
    
.btn_home:before {
    display:block;
    font-family:"FontAwesome";
    content: "\f015";
    font-size:1.7em;
    color:#fff;
    line-height:50px;
}


/************ sidebar : slide left menu area ************/
.sidebar {
    width:250px;
    z-index:9999;
}

.sidebar a.mnNomal {
    padding:10px 15px;
    transition: all 0.3s ease .03s;
    font-size:0.9em;
}

.sidebar a.mnNomal:hover {
    background:#2d2d2d;
    transition: all 0.3s ease .03s;
}

#logout-btn {
    position:absolute;
    width:90%;
    bottom:10px;
    margin:0 5%;
    border:1px solid #444;
    text-align:center;
    padding:5px 0;
    font-size:0.8em;
    background:#303030;
    color:#888;
}

.sidebar .profileArea #logoff-div {
    margin:20px 0 0 10px;
    display:inline-block;
}

.sidebar .profileArea #logoff-div #login-btn {
    display:inline;
    padding: 5px 15px 5px 15px;
    border: 2px solid #e0e0e0;
    color: #555;
    border-radius: 5px;
    letter-spacing: -1px;
    cursor:pointer;
    font-size:0.9em;
}

.sidebar .profileArea {
    width:100%;
    height:60px;
    background:#fff;
}

.sidebar .profileArea:after {
    float:right;
    display:block;
    margin-top:-60px;
    margin-right:10px;
    font-family:"FontAwesome";
    content: "\f013";
    color:#999;
    font-size:1.8em;
    line-height:60px;
}

.sidebar .profileArea #logon-div {
	width:100%;
	height:60px;
}

.sidebar .profileArea .profileImg {
    float:left;
    width: 50px;
    height: 50px;
    margin:5px 10px;
    border-radius: 40px;
    overflow: hidden;
    background:#ddd;
}

.sidebar .profileArea .profileImg img {
    width: 100%;
    height: auto;
}

.sidebar .profileArea .cafeNm {
    float:left;
    display:table;
    font-size:1.1em;
    font-weight:bold;
    line-height:120%;
    color:#222;
}

.sidebar .profileArea .cafeNm span {
    display:table-cell;
    vertical-align:middle;
    height:60px;
}

.sidebar .keyMenu {
    width:100%;
    height:100px;
    background:#ff5948;
}


.sidebar .keyMenu {
    text-align:center;
}

.sidebar .keyMenu a {
    color:#fff;
}

.sidebar .keyMenu .mn_myStamp, .sidebar .keyMenu .mn_findCafe {
    float:left;
    width:80px;
    height:80px;
    margin:10px 30px 0 30px;
    border-radius:50px;
    background:#ff4936;
    color:#fff;
    transition: all 0.3s ease .05s;
    font-size:0.8em;
}
    
.sidebar .keyMenu .mn_myStamp {
    margin:10px 20px 0 35px;
}

.sidebar .keyMenu .mn_findCafe {
    margin:10px 0 0 0;
}

.sidebar .keyMenu .mn_myStamp:before, .sidebar .keyMenu .mn_findCafe:before {
    display:block;
    font-family:"FontAwesome";
}

.sidebar .keyMenu .mn_myStamp:before {
    content: "\f015";
    font-size:2.7em;
    line-height:110%;
    margin-top:14px;
}

.sidebar .keyMenu .mn_findCafe:before {
    content: "\f003";
    font-size:2.4em;
    line-height:130%;
    margin-top:12px;
}
    
.sidebar .etcMenu li:hover {
    background:#333;    
    transition: all 0.3s ease .05s;
}

.like a:before {
    font-family:"FontAwesome";
    content: "\f087";
    margin-right:7px;
    font-size:1.2em;
}

.msg a:before {
    font-family:"FontAwesome";
    content: "\f003";
    margin-right:7px;
}

.event a:before {
    font-family:"FontAwesome";
    content: "\f06b";
    margin-right:7px;
}

.statis a:before {
    font-family:"FontAwesome";
    content: "\f080";
    margin-right:7px;
}

.cstmrList a:before {
    font-family:"FontAwesome";
    content: "\f0c0";
    margin-right:7px;
    font-size:0.9em;
}


/************ sub search tops ************/
.btn_search {
    display:none;
    position: absolute;
    top:0;
    right:0;
    width: 50px;
    height: 50px;
    text-align:center;
    overflow:hidden;
}
    
.btn_search:before {
    display:block;
    font-family:"FontAwesome";
    content: "\f002";
    font-size:1em;
    color:#fff;
    line-height:50px;
}
    
.main .btn_search {
    display:none;
}

.sb-search {
    position:absolute;
    right:0;
    top:0;
    margin-top:0;
    background:#ff5948;
    min-width: 50px;
    height:50px;
}

.sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search {
    background:#ff5948;
}
.sb-icon-search {
    background:#ff5948;
    height:50px;    
}

.sb-search-input {
    height: 40px;
    top:5px;
    right:50px;
    padding:8px 20px 10px 20px;
    border-radius:20px!important;
    width:82%;
    background:#ff6656;
    line-height:100%;
    border:1px solid #ff897d;
    color:#fff;
    font-size:1em;
    transition: all 0.3s ease .03s;
}

.sb-search.sb-search-open, .no-js .sb-search {
    width:86%;
    border-radius:20px!important;
    overflow:visible;
}
    
.sb-search-input::-webkit-input-placeholder {color: #ffd6d2; font-size:0.8em;}
.sb-search-input::-webkit-input-placeholder {color: #ffd6d2;}
.sb-search-input:-moz-placeholder {color: #ffd6d2;}
.sb-search-input::-moz-placeholder {color: #ffd6d2;}
.sb-search-input:-ms-input-placeholder {color: #ffd6d2;}

.sb-search-input:hover {
    background:#fff;
    line-height:100%;
    border:1px solid #ff5948;
    color:#444;
    transition: all 0.3s ease .03s;
}

.sb-search-input:hover::-webkit-input-placeholder {color: #888; font-size:0.8em;}
.sb-search-input:hover::-webkit-input-placeholder {color: #888;}
.sb-search-input:hover:-moz-placeholder {color: #888;}
.sb-search-input:hover::-moz-placeholder {color: #888;}
.sb-search-input:hover:-ms-input-placeholder {color: #888;}
    
.sb-search .inputArea {
    position:absolute;
    top:44px;
    display:none;
    width: 82%;
    right:50px;
    min-height: 40px;
    border-radius: 20px;
    background: #fff;
    border:2px solid #ff5948;
    transition: all 0.3s ease .03s;
    z-index:30;
}
.sb-search .sb-search-input:hover + .inputArea {
    transition: all 0.3s ease .03s;
    display:block;
} 

.sb-search:hover .inputArea .srchList {
    clear: both;
}

.sb-search:hover .inputArea .srchList li {
    border-top: 1px solid #e4e4e4;
    padding: 10px 20px;
    font-size: 15px;
    color: #555;
}

.sb-search:hover .inputArea .srchList li:first-child {
       border:0;
}

.sb-search:hover .inputArea .srchList .cstmrNm {
    display: inline-block;
    width: 30%;
}

.sb-search:hover .inputArea .srchList .cstmrTel {
}



/************ container : content ************/
#container {
	padding:35px 20px 25px 20px;
}

#container .con {
    font-size:0.9em;
}
#container .con h1 {
	font-size:1.5em;
}


