body {
	background: #f5f5f5;
}

.eventlist #container {
	padding: 0;
}

.secTit {
	margin-bottom: 5px;
}

.eventlist .btn {
	float: right;
	width: 80px;
}

hr {
	border: 2px solid #f4f4f4;
	margin-top: 5px;
}

.top-wrapper {
	padding: 0 10px;
	background: #fff;
	height: 40px;
	margin-bottom: 10px;
	line-height:40px;
}

.btn-group {
	float: right;
	margin-top: 5px;
}

.dropdown-menu {
    text-align: center;
    left: -80px;
    padding: 0;
}
/************ 이벤트배너영역 `Bn ************/
.eventBn {
	height: 20%;
	margin-top: 0px;
	text-align: right;
}

.eventNo {
	float: left;
}

#countEvent {
	margin-left: 5px;
	color: red;
}

.eventBn .one-event {
	padding-top: 15px;
	clear: both;
}

.img-box {
	display: inline-block;
	height: 120px;
	width: 100%;
	background:#f4f4f4;
}

.img-box .img-src {
	height: 100%;
	width: 100%;
}

.one-event {
	position: relative;
	width: 100%;
	min-height: 150px;
	margin-bottom: 10px;
	background: #fff;
	box-shadow: 0 1px 2px #ccc;
	padding-bottom: 3px;
}

.eventBn .one-event img {
	width: 100%;
	float: right;
}

.title {
	float: left;
	font-size: 1.1em;
	margin-bottom: 5px;
}

.text-div {
	width: 100%;
	display: inline-block;
	left: 50%;
	margin-top: 7px;
	padding: 0 7px;
}

.store {
	float: left;
	margin-right: 10px;
	font-size: 0.9em;
	clear: both;
}

.daterange {
	color: #999;
	float: left;
	font-size: 0.9em;
}

.eventBn .one-event .text-div .title {
	display: inline-block;
	width: 100%;
	font-size: 1.1em;
	text-align: center;
	font-weight: 500;
}

.eventBn .one-event .text-div .store {
	font-size: 0.9em;
}

.eventBn .one-event .text-div .blank {
	display: inline-block;
	width: 5%;
}

.eventBn .one-event .text-div .daterange {
	font-size: 0.85em;
	color: tomato;
}

#top-btn {
	font-size: 1.5em;
	float: right;
	margin-bottom: 30px;
	border: 1px solid #fff;
	background-color: #fff
}

.add-new-btn {
	display: inline-block;
	background: #ffffff;
	color: #333;
	border: 3px solid #ff5948;
	border-radius: 100px;
	width: 60%;
	font-size: 1.1em;
	margin-bottom: 5px;
}