@CHARSET "UTF-8";

@import url("slick.css");

.cafe-pic {
	width: 100%;
	margin:0;
	padding:0px;
	
}

.camera1 {
  position: absolute;
  border: none;
  border-radius: 100px;
  background-color: rgba(255,89,72, 0.9);
  width: 60px;
  height: 60px;
  right:0px;
}
.glyphicon {
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    color: white;
    font-size: 1.5em;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
/*이미지 슬라이더*/
.eventDetail-img {
	padding: 10px 0;
    background: #f1f1f1;
    box-shadow: -1px 1px 1px #dedddd;
}

.eventDetail-img img {
    width: 95%;
	margin:auto;
	min-height:200px;
	background:#f4f4f4;
}

.title {
}

.text-wrapper {
    padding: 10px;
    position: relative;
    box-shadow: 1px 1px 1px #cecece;
    z-index: 10;
}

.text-wrapper .ongoing {
	border-radius: 10px;
	height: 25px;
    width: 60px;
    position: absolute;
    right: 10px;
    top: 15px;    
    font-size: 0.75em;
    text-align: center;
    line-height: 20px;
}

.text-wrapper .ongoing.on {border: 2px solid #fb6d5f;}
.text-wrapper .ongoing.off {border: 2px solid #ccc;}

.cafe-name1 {
	width:100%;
	text-align:center;
}
.cafe-name1 span {
	display:inline-block;
	font-size: 1.1em;
    margin: 15px auto 0 auto;
    text-align:center;
    border:1px solid #333;
    padding:3px 30px 4px 30px;
    border-radius:30px;
}

.span-title {
	font-align:center;
	border-radius: 5px;
	background:gray;
	color:white;
	font-size:1.2em;
}
.cafe-name-before2 .event-date .span-period1 {
	font-size:1em;
}
.cafe-name-before2 .event-date {
    color: #afafaf;
    font-size: 0.75em;
}
 .cafe-name-before2 .event-cont-div {
	
}
.event-cont-div {
	padding: 10px;
}
.span-contents {
	font-size: 0.85em;
}
.page-move {
	margin-top:5%;
  margin-bottom: 5%;
  float:right;
}

.page-move > a {
    color: #e9e9e9;
    text-decoration: none;
    cursor: pointer;
    font-size: 2em;
    float:right;
    margin-right: 17px;
}

.add-new-btn {
	background:#ff5948;
	color:white;
	
}
/********************************************************/

.btn-list {
    color: #fff !important;
    background:#555;
    height: 40px;
    padding: 0 10px;
}


.goto {
    height: 40px;
    width: 100px;
    float: right;
    line-height: 35px;
    text-align: right;
    color: #eaeaea;
}

.goto .cafe-name {
	font-size: 0.8em;
}