@CHARSET "UTF-8";




#container {
  padding: 0;
}

.listback {
  display: table;
  /* border-bottom: 1px solid #eee; */
  font-size: 1.2em;
  padding: 0 3%;
  width: 100%;
  font-size: 0.9em;
}


.listback .verarr {
  display: table-cell;
  vertical-align: middle;
  height:50px;
  
}

.listback .btn_back {
  width: 15px;
  margin-right: 15px;
}


.floatright {
	float: right;
	position: relative;
  top: 5px;
}



.search-form {
	margin: 10% 2%;
}

.search-form .form-control {
	display: inline-block;
	width: 79%;
	height: 40px;
	text-align: center;
	border-radius: 5px;
}


.search-form .form-control:focus {
  border: 1px solid tomato;
}

.btn.search {
	vertical-align: inherit;
	width: 20%;
	height: 40px;
	float: right;
	color: #fff;
	background-color: #444;
	border-color: #444;
}

.search-form .btn:focus {
  outline: none;
}


.msgArea {
	margin: 10% 4% 5% 4%;
}

.msgArea h5 {
	font-size:1.1em;
}

.msgArea .gift-msg {
	width:100%;
	margin-top:5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px;
	height:120px;
}

.gift-msg:focus {
	outline: none;
}


.btn.send {
	position:fixed;
	bottom:15px;
	left:0;
	width: 92%;
	margin:0 4%;
	height: 50px;
	color: #fff;
	background-color: #444;
}




/************ search ************/
.search {
	width:80%;
    margin: auto;
}

.search .inputArea {
    width: 100%;
    min-height: 50px;
    margin-top: 30px;
    border: 1px solid #b2b2b2;
    border-radius: 20px;
    background: #fff;
}

.search .inputArea .srchBar {
    float: left;
    width: 100%;
    padding: 0 20px;
    height:50px;
    font-size: 1.1em;
    color: #555;
    text-align:center;
    background: transparent;
}

.search .inputArea .btn_srch {
    float:right;
    width: 40px;
    height: 38px;
    margin:3px 10px 0 0;
    background: url(../image/btn_searchB.png) no-repeat center center;
    font-size: 0;
}

.descrip1 {
    width:100%;
    text-align:center;
    height:130px;
    margin-top:30px;
}


.numBox {
	display:none;
	border: 1px solid #eee;
	width:48%;
	height:130px;
    background:#f4f4f4;
    margin:0 auto;
}

.numBox input {
	margin-top:10px;
    border: 1px solid #ececec;
    width:70%;
    margin:10px 15% 0 15%;
    height:50px;
    background:#fff;
    border-radius:5px;
    text-align:center;
    font-size:2em;
    color:#ff5948;
}

.numBox span {
	display:block;
	margin-top:7px;
	font-size:0.8em;
	color:#888;
}

.numBox p {
	margin-top:7px;
    font-size:1.6em;
    color:#333;
}

.numBox.noFree {
	width:70%;
}

.numBox.noFree p {
    font-size:1.3em;
    padding-top:30px;
}

.descrip2 {
	clear:both;
    width:100%;
    margin-top:10px;
    text-align:center;
    font-size:0.9em;
    color:#888;
}

.descrip2 h5 { 
	font-size:1.3em;
	color:#555;
	margin-bottom:5px;
}

.descrip2 .cafeNm { 
	color:#333;
}


/***  auto complete 고객검색 자동완성 ***/

.ui-menu
{
    position: relative;
    list-style: none;
    background-color: white;
    border-radius: 18px;
    z-index:100000000000000;
    box-shadow: 5px 0px 8px white;
    width: 290px;
    line-height: 200%;
    font-size: 1em;
    padding: 15px 0;
    border: 1px solid #b2b2b2;

}

.ui-menu .ui-menu-item
{
    margin: none;
    padding-left: 15px;
    padding-right:10px;
}

.ui-menu .ui-menu-item:hover
{
    margin: none;
    padding-left: 15px;
    padding-right:10px;
    color: white;
    background-color: #555;
}

.ui-widget-content.ui-autocomplete {
    position:absolute!important;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ac_results {
    clear: both;
    padding: 0px;
    overflow: hidden;
    z-index: 99999;
    width:290px!important;
    border:1px solid #b2b2b2;
    border-radius:20px;
    z-index:1000000;
    background:#fff;
}

.ac_results ul {
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
    width:290px;
}
.ac_results li {
    margin: 0px;
    cursor: default;
    display: block;
    font-size: 1.4em;
    padding: 0 20px;
    overflow: hidden;
    height:40px;
    line-height:40px;
    font-size:1em;
    text-align:center;
}

.ac_results li strong {
    font-weight:normal;
}

.ac_odd {
    background-color: #f7f7f7;
}

.ac_over {
    background-color: #444;
    color: white;
}

.ui-helper-hidden-accessible {
    display:none!important;
}