@CHARSET "UTF-8";



#container {
  padding: 0;
}


.con {
	background: url("../image/login_bg.png") no-repeat;
	background-position: center center;
	background-size: cover;
	display: table;
	position: relative;
}


.loginwrap {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.loginwrap .logo {
  background: url("../image/logoW_vertical.png") no-repeat center center;
  background-size:auto 100%;
  margin-bottom: 25px;
  width:auto;
  height:120px;
  font-size:0;
}
.loginwrap .login-title {
  height: 35px;
  background:rgba(255,255,255,0.3);
  color:#fff;
  text-align:center;
  line-height:35px;
  font-size:1.2em;
}


.inputArea {
	width:100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.loginwrap .input-login {
  height: 55px;
  width: 80%;
  margin:auto;
  background-color: rgba(255,255,255,0);
    color: white;
	clear:both;
	font-size:1.1em;
}

input:focus {
  outline: none;
}

.inputArea .name {
	border-bottom:1px solid rgba(255,255,255,0.2);
}

.input-login::-webkit-input-placeholder  { color: #fff; }
.input-login::-moz-placeholder  { color: #fff; }
.input-login:-ms-input-placeholder { color: #fff; }

.login-btn, .register-ok-btn {
  display: block;
  clear: both;
  margin: auto;
  margin-top: 20px;
  border-radius: 150px;
  border: 0;
  background-color: #ff4040;
  color: white;
  width: 110px;
  height: 110px;
  text-align: center;
  font-size: 1.3em;
}
.login-btn, .register-ok-btn:focus {
  outline: none;
}



.joinAra {
	margin-top:55px;
}
.joinAra p {
	font-size:1em;
	color:#fff;
	line-height:150%;
}
.joinAra .register-btn {
  display: block;
  clear: left;
  margin: auto;
  margin-top: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  background-color:rgba(255,255,255,0);
  width: 60%;
  height: 45px;
  text-align: center;
  font-size:1.2em;
}

.joinAra .register-btn:focus {
  outline: none;
}


.register {
  display: none;
  text-align: center;
}


.register .close {
  position: absolute;
  top: 5px;
  right: 10px;
}

.register .txt-back-login {
	margin-top: 50px;
	font-size: 1em;
	color: white;
}

.register .back-login .back-login-btn {
	text-decoration:underline;
}