.main {
    background:#f4f4f4;
}

.main #container {
    padding:0;
}

.secTit {
	margin-bottom:5px;
}


/************ 최근이용한 스탬프카드 latelyCard ************/


.latelyCard {
	position:relative;
    padding:0 0;
    box-shadow:0 3px 5px rgba(0,0,0,0.1);
    border-bottom:1px solid #cfcfcf;
    padding-bottom:7px;
    background: url(../image/bg_con.png) no-repeat 220px -20px #fff;
    background-size:250px 194px;
    background-attachment: fixed;
    border-radius:0 0 20% 20%;
}

.latelyCard h2 {
	margin:auto;
	width:65%;
    padding:30px 0 2px 0;
    font-size:1em;
    margin-bottom:7px;
    color: #444;
    letter-spacing:-1px;
    text-align:center;
    border-bottom:1px solid #555;
    transition: all 0.5s ease .03s;
}

.latelyCard h2 #user-name {
	font-size:1.3em;
	font-weight:bold;
}

.latelyCard .hidden {
	display:block!important;
    padding:20px 0 12px 0;
    border-bottom:0;
}

.latelyCard .btn_show {
	display:none;
	width:25px;
    height:20px;
    overflow:hidden;
    position:absolute;
    top:13px;
    right:20px;
    text-align:center;
}

.latelyCard .btn_hide {
    display:none;
    width:25px;
    height:20px;
    overflow:hidden;
    position:absolute;
    top:13px;
    right:20px;
    text-align:center;
}

.latelyCard .btn_show:before {
	display:block;
    font-family:"FontAwesome";
    content: "\f107";
    font-size:2em;
    color:#444;
    line-height:100%;
}

.latelyCard .btn_hide:before {
	display:block;
    font-family:"FontAwesome";
    content: "\f106";
    font-size:2em;
    color:#444;
    line-height:100%;
}

.latelyCard h3 {
    font-size:1.5em;
    color: #444;
    font-weight:bold;
    letter-spacing:-1px;    
}

.latelyCard .cafeTxt {
    width:100%;
    text-align:center;
}

.latelyCard .cafeTxt .cafeName {
	height:35px;
	margin-top:12px;
    font-size:1.8em;
    color:#333;
    font-weight:bold;
    letter-spacing:-1px;
    overflow-y:hidden;
}

.cafeName .cafeLogo {
	display:inline-block;
    max-width:36px;
    max-height:36px;
    margin-top:-5px;
    margin-right:8px;
    text-align:center;
    vertical-align:middle;
}

.latelyCard .cafeTxt .timeArea {
	margin-top:5px;
	font-size:0.9em;
	color:#777;
}

.date:before {
    margin-right:5px;
    font-family:"FontAwesome";
    content: "\f073";
    font-size:1.2em;
    color:#cfcfcf;
}

.time:before {
	margin:0 5px 0 3px;
	font-family:"FontAwesome";
    content: "\f017";
    font-size:1.5em;
    color:#cfcfcf;
    vertical-align:middle;
}

.stampNumS {
	display:none;
}
	
.stampNum {
	display: none;
	position:absolute;
	bottom:-15px;
	right:20px;
    width:80px;
    height:80px;
    border:4px solid #ff5948;
    text-align:center;
    border-radius:20px 50px 50px 50px;
    z-index:500;
    font-size:1.1em;
    line-height:100%;
    background: url(../image/icon_stamp.png) no-repeat center center #fff;
    background-size:65%;
    padding-top:27px;
}

.stampNumS .history,  .stampNum .history {
    font-size:2.3em;
    color:#333;
}

.cardArea {
    width:100%;
    text-align:center;
    padding-bottom:5px;
    margin-top:3px;
    height:185px;
}

.cardArea span {
	display:inline-block;
    width:85%;
    border-radius:15px;
    border:6px solid #fff;
    box-shadow:0 0 5px rgba(0,0,0,0.1);
    height:180px;
    background:#f4f4f4;
}

.cardArea span img {
	border-radius:12px;
	width:100%;
	max-height: 168px;
}

.latelyCardSlide .slick-dots {
    bottom:-20px;
    text-align: center;
    height:32px;
}

.latelyCardSlide .slick-dots li {
    margin:0;
}

.slick-next, .slick-prev {
	display:none!important;
}


/************ 이벤트배너영역 `Bn ************/
.eventBn {
	margin-top:30px;
	text-align:center;
}

.eventBn h3 {
	display:inline-block;
	width:80%;
    font-size:1.2em;
    margin:0 auto 15px auto;
    color: #444;
    font-weight:bold;
    letter-spacing:-1px;
    text-align:center;
    border:1px solid #333;
    padding:5px 30px;
    border-radius:30px;
}

.eventBn ul {
    margin-bottom:60px;
}

.eventBn li {
	padding:0 3%;
    margin-bottom:7px;
}

.eventBn li img {
    width:100%;
    background:#ddd;
}



/************ btm menu ************/
.mn_btm {
	width:100%;
    padding:0 0;
    position:fixed;
    bottom:0;
    left:0;	
    background:#333333;
    height:50px;
}

.mn_btm li {
	float:left;
    text-align:center;
    width:33.3%;
    height:50px;
}

.mn_btm li a {
	text-align:center;
    margin-top:12px;
	display:block;
    color:#ddd;
    height:27px;
    font-size:0.95em;
    border-left:1px solid #444;
    letter-spacing:-1px;
}

.mn_btm li:first-child a {
	border-left:0;
}

.mn_btm li.favor .mn:before {
	font-family:"FontAwesome";
    content: "\f005";
    font-size:1.7em;
    color:#ff5948;
    padding-right:5px;
    vertical-align:middle;
    display:inline-block;
}

.mn_btm li.all .mn:before {
    font-family:"FontAwesome";
    content: "\f00b";
    font-size:1.7em;
    color:#ff5948;
    padding-right:5px;
    vertical-align:middle;
    display:inline-block;
}

.mn_btm li.msg .mn:before {
    font-family:"FontAwesome";
    content: "\f003";
    font-size:1.7em;
    color:#ff5948;
    vertical-align:middle;
    display:inline-block;
}
 
 