@CHARSET "UTF-8";

body {
	width:100%;
    background: url("../image/login_bg.png") no-repeat #ff5948;
    background-attachment: fixed;
    background-size: 100% 100%!important;
    background-position: center 50px;
    background-size: cover;
}
#container {
	padding: 0;
}

.con {
	width:100%;
    position: relative;
    padding-bottom:10px;
}

.category {
	width:100%;
  padding: 0 3% 10px 3%;
  display:inline-block;
  background: url("../image/category_bg.png") repeat-x left top;
  height:60px;
}

.category:after {
  display:block;
  content:" ";
  clear:both;
}


.btn-inbox, .btn-sent {
  padding:5px 10px; 
  color: gray;
  border-radius:5px;
  float:left;
  text-align:center;
  line-height:28px;
  margin-right:5px;
  cursor:pointer;
  background:#ff887c;
  font-size:1.2em;
  color:#fff;
  margin-top:14px;
}

.select-category {
  color: #fff;
  background-color: #ff4040;
}

.btn-goTop {
	float:right;
    margin-top:5px;
    padding:4%;
    z-index:100;
}
.btn-goTop img {
    width:30px;
    height:auto;
}


.msgArea {
    clear:both;
    display:none;
    padding:0 4%;
}


.one-msg {
	cursor: pointer;
	position: relative;
	padding: 4% 4% 9% 4%;
	background: #fff;
	border-radius:10px;
	margin-bottom:10px;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.one-msg:after {
	display:block;
	clear:both;
	content:" ";
}
.one-msg:active {
  background-color: #f3f3f3;
}

.one-msg .msg-left {
  position: relative;
  display: inline-block;
  margin-right: 3%;
}

.msg-left img {
	width:75px;
    height: 75px;
	vertical-align: inherit;
	background:#f0f0f0;
}


.one-msg .msg-content {
	width: 73%;
  position: relative;
  display: inline-block;
  vertical-align: top;
}


.msg-content .sub {
	width:80%;
  margin-bottom: 5px;
}


.msg-content .sub .cafe-name {
	margin-top:3px;
  font-weight: bold;
  color:#222;
  font-size:1.6em;
}

.msg-content .sub .cafe-name .to {
    
  font-size:0.8em;
}

.msg-date {
	position: absolute;
	bottom: 12px;
	right: 4%;
  font-size: 0.8em;
  color: #b9b9b9;
}

.btn-delete {
	position: absolute;
    top: 3px;
    right: 7px;
    font-size:1.5em;
    color:#999;
    padding:2%;
    line-height:100%;
}

.msg-content .pre-msg {
  display: inline-block;
  max-height: 42px;
  color:#666;
  font-size:1em;
}




/********************* write message ****************************/

.btn-write {
    position: fixed;
    bottom: 30px;
    right: 4%;
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    text-align: center;
    color: #fff !important;
    text-shadow: none;
    line-height: 100px;
    font-size:0;
    z-index:100;
    background: url('../image/icon_write.png') no-repeat center center #ff5948;
    background-size: 48% auto;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    
}

.writeWrap {
	display:none;
	z-index:1000;
	margin-top:-50px;
	background: rgba(0, 0, 0, .6);
	position: fixed;
	width: 100%;
	height: 100%;
}

.ui-overlay-shadow {
    box-shadow : 0 0 12px rgba(0,0,0,.3)!important;
    border:1px solid #ddd!important;
}

.writeArea {
	display:none;
	width:80%; 
	height: 400px;
	margin:0 auto;
	background:#fff;
	position:relative;
	box-shadow:0 5px 15px rgba(0, 0, 0, .5);
	border-radius:7px;
}

.writeArea .tit {
	font-size:1.4em;
    padding:15px 0;
    text-align:center;
    border-bottom:1px solid #ddd;
}

.inputWrap {
	padding:10px 5%;
}
.inputWrap select { 
	width:100%;
	height:40px;
	margin-bottom:5px;
	font-size:1.2em;
	border:1px solid solid #ddd; 
}

.inputWrap select  option { 
	width:40px;
}

.inputWrap select:focus {
  outline: none;
}
.writeArea .chat-input.form-control {
    height: 200px!important;
    width: 100%;
    padding: 5px;
}
writeArea .chat-input.input:focus {
  outline: none;
}
.writeArea .btn-send {
	margin-top:10px;
    background: #ff5948;
    width: 100%;
    height: 50px;
    cursor: pointer;
    text-align:center;
    clear:both;
    color:#fff;
    border-radius:7px;
    line-height:47px;
    font-size:1.2em;
}

.writeArea .btn-send img {
    width: 10%;
    line-height:
}

.btn-close {
	position:absolute;
	top:10px;
	right:20px;
	font-size:1.3em;
}

/*********************message detail****************************/
.messageDetail {
	overflow-y:hidden;
}
.listback {
	display: table;
  border-bottom: 1px solid #eee;
  font-size: 1.2em;
  padding-left: 3%;
  width: 100%;
}


.listback .verarr {
	display: table-cell;
  vertical-align: middle;
}

.listback .back-btn {
	width: 15px;
	margin-right: 15px;
}

.listback .name {
	font-weight: bold;
}





.chat {
  display: inline-block;
  padding: 10px;
  width: 100%;
  background-image: url('../image/hotchocolate.png');
  background-position:bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bubble {
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    min-height: 50px;
    max-width: 60%;
}

.bubble::before {
    background-color: #fdfdfd;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}





.me {
    background-color: #fdfdfd;
	  display: inline-block;
    float: left;
    margin: 0px 5px 0px 20px;
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.mewrap {
	float: left;
	clear: both;
  margin-top: 10px;
}

.mewrap img {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 5px;
	background-color: white;
}

.mewrap .time {
	display: inline-block;
	color: white;
	font-size: 0.9em;
}






.you {
	background-color: rgb(106, 83, 80);
	color: white;
	float: right;
	margin-right: 20px;
	margin-left: 5px;
}

.you::before {
	background-color: rgb(106, 83, 80);
	box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
	right: -9px;    
}

.youwrap {
  float: right;
  clear: both;
  margin-top: 10px;
}


.youwrap .time {
	display: inline-block;
	color: white;
	font-size: 0.9em;
	float:right;
}



