.secTit {
	margin-bottom:0;
}

.swWrap {
	padding-bottom:20px;
}

/************ 리스트공통 list style ************/
.list {
	position:relative;
	padding:15px 0 10px 0;
	border-bottom:1px solid #f4f4f4;
	transition: all 0.3s easein .03s;
	cursor:pointer;
}

/* .list:hover {
	background:#f4f4f4;
	transition: all 0.3s easein .03s;
} */

.list:after {
	clear:both;
	content:' ';
	display:block;
}

.cardArea {
	float:left;
	margin-right:3%;
	width:30%;
	max-width:120px;
}

.cardArea img {
   width:100%;
   height:auto;
   max-height:70px;
   border-radius:5px;
}

.cafeTxt {
	float:left;
	width:51%;
}

.cafeName {
	font-size:1.25em;
    color:#333;
    font-weight:bold;
    letter-spacing:-1px;
    display: inline-block;
    margin-right: 5px;
}

.tag {
    display:block;
    margin:3px 0 0 0;
    color:#999;
}

.tag span {
    margin-right:2%;
}

.time {
	color:#666;
	font-size:0.6em;
	line-height:130%;
}

.issue {
    color:#666;
    font-size:0.9em;
    margin-right:2%;
    height:20px;
    display:inline-block
}

.issue .free {
    float:left;
    overflow:hidden;
    height:20px;
    width:22px;
    font-size:1.3em;
    line-height:20px;
}

.issue .free:before {
	display:inline-block;
	font-family:"FontAwesome";
	color:#713318;
    content: "\f0f4";
}

.issue .event {
    float:left;
    overflow:hidden;
    height:20px;
    width:22px;
    font-size:1.5em;
    line-height:20px;
}

.issue .event:before {
    display:inline-block;
    font-family:"FontAwesome";
    color:#ff7640;
    content: "\f06b";
}

.stampNum {
	position:absolute;
	top:7px;
	right:0;
    color:#666;
    font-size:1em!important;
    width:55px;
    height:55px;
    border:3px solid #f0f0f0;
    border-radius: 50px;
    text-align:center;
    background:#fff;
    font-size:0.9em;
    line-height:48px;
    background: url(../image/icon_stamp.png) no-repeat center center;
    background-size:60%;
}

.stampNum span {
    font-size:1.8em;
    color:#333;
    font-weight:bold;
}