@CHARSET "UTF-8";

@import url("frame.css");




.manage-navi {
  border: 1px;
  margin-top: 90px;
  margin-bottom: 30px;
  
}

.manage-navi a {
  text-decoration: none;
}

.manage-navi li:first-of-type {
  border: 1px;
  width: 200px;
  display: inline-block;
  position: relative;
  font-size: 2em;
}

ul li:nth-of-type(2), li:nth-of-type(3), li:nth-of-type(4) {
  border: 1px;
  display: inline;
  font-size: 1.2em;
}

ul a {
  display: inline-block;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}




.one:hover ~ hr.underline {
  width: 75px;
  margin-left: 200px;
}


.two:hover ~ hr.underline {
  width: 120px;
  margin-left: 283px;
}


.three:hover ~ hr.underline {
  width: 80px;
  margin-left: 420px;
}





.underline {
  height: .25rem;
  width: 80px;
  margin-top: -6px;
  margin-left: 420px;
  background: gray;
  border: none;
  transition: .4s ease-in-out;
  z-index: 99;
}

.manage-navi > hr {
  z-index: 1;
  border: 0;
  border: 1px solid rgb(190, 190, 190);
}

.cafe-name {
	width:100%;
	margin-top:10px;
	position:relative;
	display:inline-block;
	
}
.pre-set-before {
  display:inline-block;
  border: 1px solid #dedede;
  margin-left: 100px;
  
}

#pre_set {
	margin-top :20px;
	border: 1px solid black;
}

#field > div {
	margin-top : 20px;
	border:1px solid black;
}

#field2 > div {
  margin-top : 20px;
  border:1px solid black;
}
/*----------------------------------------------*/

.freename {
	display:inline-block;
	position:relative;
	float:left;
}

.photo-imgbox-div {
	width:400px; 
	background:#dedede;
}


.col-sm-10 {
  position: absolute;
  right: -400px;
  top: 0px;
}



#pre_set, #pre_set2 {
  position:relative;
}




.free-sub{
	display:inline-block;
}
.cafe-name .free1 {
	border: 1px solid #dedede;
	border-radius: 5px;
	margin-left:50px;
	display:inline-block;
	width: 50px;
}
.cafe-name .free2 {
  border: 1px solid #dedede;
  border-radius: 5px;
  margin-left:5px;
  display:inline-block;
  width: 70px;
}

.checkbox {
  display:inline-block;
  margin-left: 10px;
}
.pbtn {
  margin-left:10px;
  border: 1px solid rgb(255,89,72);
  border-radius: 100px;
  width: 30px;
  height: 30px;
  background-color: white;
  color: rgb(255,89,72);
  font-size: 20px;
  text-align:center;
}

.introtext2 {
  display:inline-block;
  float:left;
}



.imgbox2 {
  margin-left:10px;
  text-align:center;
  display: inline-block;
  width:300px;
  height:200px;
  background-color:#dedede;
  border: 1px solid #dedede;
  border-radius: 5px;
  float:left;
}

.btn-regi{
	margin-left:10px;
}









