@CHARSET "UTF-8";

@import url("frame.css");




.manage-navi {
  border: 1px;
  margin-bottom: 30px;
  
}

.manage-navi a {
  text-decoration: none;
}

.manage-navi li:first-of-type {
  border: 1px;
  width: 200px;
  display: inline-block;
  position: relative;
  font-size: 2em;
}

.manage-navi ul li:nth-of-type(2), .manage-navi ul li:nth-of-type(3), .manage-navi ul li:nth-of-type(4) {
  border: 1px;
  display: inline;
  font-size: 1.2em;
}

ul a {
  display: inline-block;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}




.one:hover ~ hr.underline {
  width: 75px;
  margin-left: 200px;
}


.two:hover ~ hr.underline {
  width: 120px;
  margin-left: 283px;
}


.three:hover ~ hr.underline {
  width: 80px;
  margin-left: 420px;
}





.underline {
  height: .25rem;
  width: 80px;
  margin-top: -6px;
  margin-left: 200px;
  background: gray;
  border: none;
  transition: .4s ease-in-out;
  z-index: 99;
}

.manage-navi > hr {
  z-index: 1;
  border: 0;
  border: 1px solid rgb(190, 190, 190);
}

.cafe-name {
	width:100%;
	margin-top:10px;
}

.form-control {
	border: 1px solid #dedede;
	border-radius: 5px;
	display:inline-block;
}

.info-subtext {
	margin-left:10px;
}

.checkbox_self {
    display:inline-block;
}

.cafe-name2 {
  width:100%;
  margin-top:10px;
  position:relative;
}

.inperson{
	display:inline-block;
	width:200px;
	border:1px solid #dedede;
}

#introcafe {
	width:350px;
	height:200px;
	border:1px solid #dedede;
	border-radius: 5px;
}

.introtext {
	position:relative;
	top:-80px;
}

.intro-subtext {
	display:inline-block;
	color:#dedede;
	position:relative;
	top:-65px;
	margin-left:20%;
}
.work-time {
	position:relative;
	margin-top:10px;
	display:inline-box;
	
}
.work-time-text{
	display:inline-block;
	position:relative;
	float:left;
}

.select1{
	display:inline-block;
}

.select2{
  display:inline-block;
  margin-left:3px;
  margin-bottom:10px;
}

.pbtn {
	margin-left:10px;
  border: 1px solid rgb(255,89,72);
  border-radius: 100px;
  width: 30px;
  height: 30px;
  background-color: white;
  color: rgb(255,89,72);
  font-size: 20px;
  text-align:center;
}

.worktime-addtext {
	color:#999;
	margin-left:20%;
}

#number-input {
  margin-left:10px;
  margin-right:10px;
  margin-top:3px;
  display:inline-block;
  border:none;
  border: 1px solid #dedede;
  border-radius: 5px;
  width: 150px;
  height:34px
}

.introtext2 {
	display:inline-block;
	float:left;
}

.addr-div .inputaddr {
	width:350px;
	height:40px;
	border: 1px solid #dedede;
	border-radius: 5px;
}


.inputaddr-btn {
  width:100px;
  height:40px;
  border: 1px solid #dedede;
  border-radius: 5px;
}

.cafe-name #cafeName {
	width:300px;
}
.cafe-name4 {
  width:100%;
  display:inline-block;
  margin-top:10px;
  position:relative;
  text-align:center;
}

.logo-text-div {
	color:#dedede;
	display:inline-block;
	position:relative;
	left:-45px;
	bottom:-180px;
}

.col-sm-10{
	display:inline-block;
	position:relative;
	float:left;
}

.logo-remain{
	display:inline-block;
	float:left;
	margin-left:10px;
	position:relative;
}




/* 매장사진/대표메뉴 */

.manage-navi {
  border: 1px;
  margin-bottom: 30px;
  
}

.manage-navi a {
  text-decoration: none;
}

.manage-navi li:first-of-type {
  border: 1px;
  width: 200px;
  display: inline-block;
  position: relative;
  font-size: 2em;
}

.manage-navi ul li:nth-of-type(2), .manage-navi ul li:nth-of-type(3), .manage-navi ul li:nth-of-type(4) {
  border: 1px;
  display: inline;
  font-size: 1.2em;
}

ul a {
  display: inline-block;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}




.one:hover ~ hr.underline {
  width: 75px;
  margin-left: 200px;
}


.two:hover ~ hr.underline {
  width: 120px;
  margin-left: 283px;
}





.underline {
  height: .25rem;
  width: 120px;
  margin-top: -6px;
  margin-left: 283px;
  background: gray;
  border: none;
  transition: .4s ease-in-out;
  z-index: 99;
}

.manage-navi > hr {
  z-index: 1;
  border: 0;
  border: 1px solid rgb(190, 190, 190);
}

.cafe-name {
    width:100%;
    margin-top:10px;
    position:relative;
    display:inline-block;
    
}


.freename {
    display:inline-block;
    position:relative;
    float:left;
}
.pre-set-before {
  display:inline-block;
  
}

.free-sub{
    display:inline-block;
}
.cafe-name .free1 {
    border: 1px solid #dedede;
    border-radius: 5px;
    margin-left:50px;
    display:inline-block;
    width: 50px;
}
.cafe-name .free2 {
  border: 1px solid #dedede;
  border-radius: 5px;
  margin-left:5px;
  display:inline-block;
  width: 70px;
}

.pbtn {
  margin-left:10px;
  border: 1px solid rgb(255,89,72);
  border-radius: 100px;
  width: 30px;
  height: 30px;
  background-color: white;
  color: rgb(255,89,72);
  font-size: 20px;
  text-align:center;
}

.imgbox2 {
  margin-left:10px;
  text-align:center;
  display: inline-block;
  width:300px;
  height:200px;
  background-color:#dedede;
  border: 1px solid #dedede;
  border-radius: 5px;
  float:left;
}
.col-sm-10 {
    position: absolute;
    top: 0px;
    
}

.btn-regi{
    margin-left:10px;
}



@CHARSET "UTF-8";

@import url("frame.css");




.manage-navi {
  border: 1px;
  margin-bottom: 30px;
  
}

.manage-navi a {
  text-decoration: none;
}

.manage-navi li:first-of-type {
  border: 1px;
  width: 200px;
  display: inline-block;
  position: relative;
  font-size: 2em;
}

.checkbox {
  display:inline-block;
  margin-right: 12px;
}
.pbtn {
  margin-left:10px;
  border: 1px solid rgb(255,89,72);
  border-radius: 100px;
  width: 30px;
  height: 30px;
  background-color: white;
  color: rgb(255,89,72);
  font-size: 20px;
  text-align:center;
}

.introtext2 {
  display:inline-block;
  float:left;
}



.imgbox2 {
  margin-left:10px;
  text-align:center;
  display: inline-block;
  width:300px;
  height:200px;
  background-color:#dedede;
  border: 1px solid #dedede;
  border-radius: 5px;
  float:left;
}

.btn-regi{
    margin-left:10px;
}


#chairNo {
	width:70px;
}


/*공통*/
.box {
	clear:both;
	position:relative;
	margin-bottom:15px;
}
.box:after {
	display:block;
    clear:both;
    content:" ";
}

.tit {
	width:20%;
	float:left;
	font-size:1.2em;
}

.inputArea {
	width:80%;
	float:left;
}
.inputArea .imgbox {
	clear:both;
    text-align:center;
    width:150px;
    height:150px;
    border: 1px solid #dedede;
    float:left;
    border-radius:5px;
    margin-bottom:7px;
}

.inputArea .imgbox img {
    background:#fff;
}
.cafe-photo .inputArea .imgbox {
    width:220px;
    height:150px;
}

.inputArea .btn-deco {
    width:70px!important;
    float:left;
    margin-left:10px;
}
.inputArea .btn-deco .btn-success {
	width:100%;
	background-color:#dedede;
	border-color:#ddd;
}
.inputArea .btn-deco .btn-success:after {
    content:"File";
    color:#555;
}

.inputArea.field {
	margin-left:20%;
}

.wrap {
    position:relative;	
}

.plusBtn {
	position:absolute;
	bottom:0px;
	right:17%;
	background-color: #ff5948;
	border-radius: 100px;
	width: 40px;
	height: 40px;
	margin-left:10px;
	color: #fff;
	font-size: 20px;
	line-height:35px;
	text-align:center;
	float:left;
}

.plusBtn.remove {
	position:static;
    margin:-5px 27% 0 0;
    border: 1px solid #ff5948;
    background:#fff;
    color: #ff5948;
    float:right;
    line-height:30px;
    visibility:hidden;
}

.field .remove {
	visibility:visible;
}

.cafe-photo .plusBtn {
    bottom:122px;
}

.cafe-menu .plusBtn {
    bottom:122px;
}

.work-time .plusBtn {
    bottom:29px;
}
.menuInfo {
	float:left;
	margin:107px 0 0 -70px;
}

.menuInfo #menuNm, .menuInfo #price {
    border:1px solid #cfcfcf;   
    height:40px;
    padding:5px 10px;
    border-radius:5px;
}

.menuInfo #menuNm {
	width: 150px;
	margin-right:10px;
}

.menuInfo #price {
	width: 100px;
}