@CHARSET "UTF-8";

.con {
	margin-top: 100px;
	margin-left: 150px;
	width: 800px;
	height: 500px;
}

.tempPop {
	width:100%;
	height:100%;
	background: rgba(228,228,228,0.5);
	position: fixed;
	left:0;
	top:0;
	z-index:9999;
	display:none;
}

#back {
}
	
.usetemp {
	float: right;
}

.topLine {
	border:1px solid rgb(160,160,160);
	width: 800px;
	margin-top: 10px;
}

.tempbtn {
	clear: both;
	margin-top: 10px;
	border: 2px solid rgb(227,227,227);
	border-radius: 10px;
	background-color: white;
  width: 120px;
  height:	30px;
}

.temptext {
	font-size: 12px;
	font-weight: 600;
}

/*--front--*/

.front {
	position: relative;
	margin-top: 80px;
	margin-left: 30px;
	width : 200px;
	height: 300px;
	width: 200px;
	float:left;
}

.frontText {
	font-size: 26px;
}

.frontFile {
	margin-left: 20px;
}

.filebtn {
	width: 60px;
	border:1px;
  border-radius: 5px;
  width: 50px;
  height: 25px;
  background-color: rgb(236,236,236);
}

.front-img-div {
	min-height: 90px;
}

.front .text {
	font-size: 12px;
	color: gray;
	margin-top: 10px;
  margin-left: 20px;
}

.xbox {
	z-index:0;
	float: right;
	width: 130px;
}

.front .i {
	position: absolute;
	right: -40px;
	top: 70px;
	width: 30px;
}

/*--mid--*/
.mid {
	position: relative;
	margin-top: 80px;
	width: 370px;
	height: 300px;
	float:left;
	margin-left: 60px;
}

.mid-top {
	height: 170px;
}

.backcard {
	position: absolute;
	float: left;
	width: 270px;
	min-height: 160px;
}

.stmpside {
	position: absolute;
	display: inline;
	min-height: 127px;
	padding: 6px;
}

.stmpare {
	position: absolute;
	display: inline-block;
	/*border: 1px solid red;*/
	width: 40px;
	height: 40px;
	margin-right: 3px;
	margin-bottom: 2px;
	background-color: white;
	border-radius: 5px;
}


.new-stmpare {
  position: relative;
  display: inline-block;
  /*border: 1px solid red;*/
  width: 40px;
  height: 40px;
  margin-right: 3px;
  margin-bottom: 2px;
  background-color: white;
  border-radius: 5px;
}


.mid .text {
  font-size: 12px;
  color: gray;
}


.midTextAre {
	position: absolute;
	width: 270px;
	margin-top: 20px;
}

.midText1 {
	font-size: 26px;
	float: right;
	width: 80px;
	height: 40px;
	right: 0px;
	top: 0px;
	position: absolute;
}

.midText2 {
	float: right;
	color: red;
}

.midText3 {
	font-size: 14px;
	color: red;
}

.midfilebtn {
	width: 80px;
	float: right;
	border:1px;
	margin-top: 120px;
	margin-right: -90px;
  border-radius: 5px;
  background-color: rgb(236,236,236);
}

.midText2 {
	color: red;
	font-size: 10px;
}

.midNum{
	margin-left: 20px;
	font-size: 30px;
	font-weight: bold;
}

.btnAre {
	position: absolute;
	height: 80px;
	right: 0;
	top: 0;
}

.mbtn {
	border: 1px solid lightgray;
	border-radius: 100px;
	width: 40px;
	height: 40px;
	background-color: white;
	color: lightgray;
}

.pbtn {
	border: 0;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  background-color: rgb(255,89,72);
  color: white;
  font-size: 40px;
}

#back-fileupload {
	position: absolute;
	right: 0px;
	top: 55px;
}

.info-size {
	font-size: 11px;
	color: gray;
	position: absolute;
	right: -10px;
	top: 100px;
}



/*--fianl--*/

.final {
	margin-top: 200px;
	float: left;
	width: 120px;
	height: 150px;
}

.stmpshape {
	border: 1px solid gray;
	border-radius: 10px;
	width: 120px;
	height: 150px;
}

.finalText {
	color: #333;
	display:block;
	text-align:center;
}

.stmpimgbox {
	position:relative;
	border: 1px solid lightgray;
	border-radius: 3px;
	width: 50px;
	height: 50px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.selectimg {
	width: 45px;
	height: 45px;
  z-index:0;
  padding:3px;
}

.stmpimgbox img + img {
	position:absolute;
	top:0;
	left:0;
	z-index:1000000;
}

.selectFile {
	margin-top: 10px;
	margin-left: 18px;
	border:0px;
	border-radius: 5px;
	width: 80px;
	height: 30px;
  background-color: rgb(236,236,236);
}

.stmpinfo {
	width: 200px;
	margin-top: 10px;
	margin-right: 50px;
}
.info-name {
	font-size: 11px;
	color: gray;
}

.btmLine {
	min-height: 470px;
}


.service-div {
	position: relative;
	padding-top: 20px;
	border-top: 2px solid #ccc;
}

.service-div span {
	font-size: 1.1em;
	font-weight: bold;
	vertical-align: top;
	margin-right: 10px;
}

.service {
	border: 1px solid #ccc;
	width: 390px;
	height: 40px;
	padding: 10px;
}

.btmsubmit{
	position: absolute;
	right: 0px;
	border: 1px;
	border-radius: 2px;
	background-color: rgb(255,89,72);
	color: white;
	width: 300px;
	height: 40px;
}

/************ alert ************/
.alert {
    display: none;
    position: absolute;
    left:50%;
    top: 400px;
    width: 300px;
    height: 100px;
    margin-left:-80px;
    padding: 35px;
    background: #fafafa;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    text-align: center;
    border: 2px solid rgb(255,89,27);
    
}

.alert .close_alert {
  position: absolute;
  top: 7px;
  right: 10px;
}


.service-div .info {
	font-size: 0.9em;
	color: gray;
	text-align: right;
	margin-top: 10px;
}