@CHARSET "UTF-8";

@import url("default.css");
@import url("frame.css");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("message.css");

/*************************************************
                                    common                     
*************************************************/
* {
    font-family: "Noto Sans KR", "Nanum Gothic", "san-serif";
}

body {
	color: #666;
	word-break: break-all;
	overflow-x: hidden;
	overflow-y:scroll;
}

a {
	color: #222;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}



/*************************************************
                                    layout                     
*************************************************/

.container {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    min-width: 960px;
    min-height: 100%;
    background: url(../image/bg_con.png) no-repeat right top;
    background-attachment: fixed;
}

#header {
	min-width: 960px;  
}

#sidebar {
	min-width: 800px;
}

#content {
	margin-top: 70px;
    width:100% !important;
    padding: 30px 20px 0 20px;
}

#content .con {
	margin: auto;
	min-height: 700px;
    min-width: 800px;
    max-width: 960px;	
}



/************ sweetalert ************/
@media (max-width: 540px) {
    .sweet-alert {
        width: 80% !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
}
.sweet-alert {
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
        font-family: "Noto Sans KR", "Nanum Gothic", "san-serif";
}
.sweet-alert .confirm {
    background-color: #ff5948 !important;
    width: 100% !important;
}

.sweet-alert h2 {
    font-size: 1.3em !important;
    margin: 15px 0 !important;
    font-weight: normal !important;
}

.sa-icon.sa-custom {
    margin: 10px auto !important;
    width: 80px;
    height: auto;
}

#loading img {
    top: 22% !important;
    position: absolute;
    left: 50%;
    margin-left: -145px;
    width: 70%;
    height: auto;
}

.sweet-alert .sa-confirm-button-container {
    width: 70% !important;
}