.container {
  background:url(../image/bg_con.png) no-repeat right top;
  background-attackment: fixed;
}


#content {
	padding-top:0;
}
.con {
	position:relative;
}

h2 {
	margin:0 0 0 -1px!important;
	padding-top:30px;
	padding-bottom:15px;
	text-decoration:underline;
	font-weight:normal;
	color:#333;
	background:#fff;
}

#content2 {
	position:relative;
	width: 440px;
	float: left;
	background: url(../image/profile_bg.png) no-repeat 300px 505px;
	border-left:1px solid #eaeaea;
	height:100%;
}

#content3 {
	position: absolute;
	right: 0;
	top: 0;
	width: 520px;
	padding: 25px 20px;
	box-shadow: 0 0 10px 0px rgba(100, 100, 100, 0.2);
	border: 1px solid #e4e4e4;
	border-top: 0;
	border-bottom: 0;
	height: 100%;
}

.profileArea {
	padding-top:15px;
	background:#f9f9f9;
	width:100%;
	height:280px;
	text-align:center;
}

.profileArea .photoBox {
	margin:auto;
	height:150px;
	width:150px;
	overflow:hidden;
	border:10px solid rgba(0, 0, 0, 0.05);
	border-radius:300px;
	box-sizing:initial;
}

.profileArea .photoBox .img-circle {
	width: auto;
	height: 150px;
	border-radius:0;
}

.profileArea #name {
	margin:5px 0 10px 0;
  font-size:2em;
  font-weight:500;
  margin-bottom:0;
}

.profileArea #phone-number {
  font-size:1.3em;
  color:#ff4040;
  margin-bottom:0;
}

#send-text {
  margin-top: 10px;
  font-size:1em;
  position:absolute;
  top:80px;
  right:12px;
  padding:2px 10px;
}

#send-text:before {
	color:#999;
	font-family: "FontAwesome";
	content: "\f003";
}

.statistics #current-use {
	text-align:center;
  font-size:1.3em; 
  margin:20px;
}

.statistics ul li {
	border:1px solid #f0f0f0;
	color:#888888;
	padding:5px 20px;
	margin:0 10px 5px 10px;
	height:30px;
	background:#fff;
	box-shadow:2px 2px 3px 0px rgba(180, 180, 180, 0.1);
	border-radius:5px;
}
.statistics ul li div {
	float:right;
	width:55%;
}
.etc {
	padding:0 10px;
}
.etc h3 {
	font-size:1.3em;
	margin-top:25px;
}

.etc li div {
	float:right;
	width:75%;
}
#imgbox {
    outline: 1px solid #caa8a8;
	width: 480px;
	height: 275px!important;
}

#card-back {
	position: absolute;
	width: 480px;
	min-height: 275px;
	background:#f4f4f4;
}

.stmpside {
    position: absolute;
    display: inline;
    min-height: 160px;
    padding: 6px;
}

.stmpare {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 5px;
    padding:3px;
    color:#643924;
}

.stamp-img {
	position:absolute;
	top:3px;
	background-size:40px auto;
	background-position:center center;
	background-repeat:no-repeat;
}
.stmpare:first-letter {
    position: absolute;
}

.current-stamp {
  width: 100%; 
  padding-bottom:20px;
  border-bottom:1px solid #eaeaea;
}

.current-stamp:after {
  display:block;
  clear:both;
  content:" ";
}

.current-stampNum {
	margin-top: 42px;
	width: 220px;
	color: #555;
	text-align: center;
	float: left;
}

.current-stampNum .titS {
	text-align: center;
	width: 220px;
    font-size: 1.2em;
}

.current-stamp .numBox {
    font-size: 1.9em;
}

.current-stamp-count {
	line-height: 100%;
	font-size: 1.7em;
	color: #333;
	font-weight:500;
}

.regist-stamp-div {
	text-align: center;
	font-size: 1em;
	color: #999;
	float: right;
	padding-top: 20px;
	width: 255px;
}

.regist-stamp-div .stamp-btn {
	margin-top: 25px;
	width: 255px;
	height: 45px;
	border: 1px solid #e92c2c;
	background-color: #ff5948;
	background: linear-gradient(to bottom, #ff4040 0%, #ff5948 100%);
	box-shadow: 3px 3px 5px 0px rgba(80, 80, 80, 0.2);
	color: #fff;
	font-size:1.3em;
	outline:none;
	border-radius:5px;
}



#reset-btn {
	clear:both;
	width: 255px;
    height: 35px;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    box-shadow: 2px 2px 3px 0px rgba(80, 80, 80, 0.1);
    color: #444;
    font-size:1.3em;
    outline:none;
    float:right;
    border-radius:5px;
}



.use-btn-div {
	width:255px;
	margin-top: 25px;
	float:right;
	text-align:center;
}

.use-btn-div .titS {
    text-align: center;
    width: 220px;
    font-size:1.2em;
    margin:auto;
}

.use-btn-div .numBox {
	margin-top:7px;
	font-size:1.9em;
}

.use-btn-div .usecp {
    border: 3px solid #e9e9e9;
    border-radius: 5px;
    width: 120px;
    height: 50px;
    text-align:center;
    font-size:1em;
}
.use-btn-div .usecp:focus {
  outline:0;
}

.cpnumber {
    margin-top: 50px;
    width: 220px;
    color: #555;
    text-align: center;
    float: left;
}

.cpnumber .titS {
    font-size: 1.2em;
}

.cpnumber .numBox {
    font-size: 1.9em;
}

.finish-coupon {
    line-height:100%;
    font-size: 1.7em;
    color:#333;
    font-weight:500;
}

.cpnumber-table {
	margin: 15px 0 0 0;
}

.cpnumber-table:after {
	display: block;
	clear: both;
	content: " ";
}


#use-btn {
    width: 255px;
    height: 45px;
    border: 1px solid #333;
    background-color: #373737;
    box-shadow: 3px 3px 5px 0px rgba(80, 80, 80, 0.2);
    color: #fff;
    font-size:1.3em;
    outline:none;
    border-radius:5px;
}
