.container {
  background:url(../image/bg_con.png) no-repeat right top;
  background-attackment: fixed;
}

body {
	background:url(../image/admin_detailpage.jpg) no-repeat center top;
}

#content {
	padding-top:0;
}
.con {
	position:relative;
}

h2 {
	margin-top:30px!important;
	text-align:underline;
	font-weight:normal;
	color:#333;
}

#content2 {
  width:440px; 
  float:left;
}
#content3 {
	position: absolute; 
	right:0;
	top:0;
	width : 520px;
	padding: 25px 20px;
	box-shadow: 0 0 10px 0px rgba(120, 120, 120, 0.1);
	border:1px solid #e4e4e4;
	border-top:0;
	border-bottom:0;
	height: 100%;
}

.profileArea {
	margin-top:20px;
	padding-top:15px;
	/* background:#f9f9f9; */
	width:100%;
	height:280px;
	text-align:center;
}

.profileArea .imgBox {
	margin:auto;
	height:150px;
	width:150px;
	overflow:hidden;
	border:10px solid rgba(0, 0, 0, 0.05);
	border-radius:300px;
	box-sizing:initial;
}

.profileArea .imgBox .img-circle {
	width: auto;
	height: 150px;
	border-radius:0;
}

.profileArea #name {
	margin:5px 0 10px 0;
  font-size:2em;
  font-weight:500;
  margin-bottom:0;
}

.profileArea #phone-number {
  font-size:1.3em;
  color:#ff4040;
  margin-bottom:0;
}

#send-text {
  float :right;
  margin-right: 5px; 
  margin-top: 10px;
}


hr {
  width:30px;
}


.cpall {
  border-right:1px solid red; 
  border-left:1px solid red; 
  text-align:center;
}
.cpall-name{
  font-size:2em;
}
.usecp-div {
  width:170px;
  float:left; 
  height:60px; 
  text-align:center; 
  margin-top:30px;
}
.usecp {
  border:1.5px solid gray;
  border-radius:5px; 
  width:40px; 
  height:30px;
  margin-left: 40px; 
  margin-top:20px;
}
.use-btn-div {
  width:77px; 
  float:left; 
  margin-top:30px;
}
.cpnumber-table {
  width:200px;
  float:left; 
  margin-top:30px;
}

.cpnumber-table table {
  width:200px;
}

.cancle-btn-div {
  width:77px; 
  float:left;
}
#use-btn {
  float :right; 
  margin-right: 5px; 
}
#cancle-btn {
  float :right; 
  margin-right: 5px; 
  margin-top: 3px;
}

.statistics {
}
.statistics #current-use {
	text-align:center;
  font-size:1.3em; 
  margin:20px;
}

.statistics ul li {
	border:1px solid #f0f0f0;
	color:#888888;
	padding:5px 20px;
	margin:0 10px 5px 10px;
	height:30px;
}
.statistics ul li div {
	float:right;
	width:55%;
}

#imgbox {
/* 	border: 1px solid #caa8a8; */
	width: 480px;
	min-height: 275px;
	margin-bottom:35px;
}

#card-back {
	position: absolute;
	width: 480px;
	min-height: 275px;
	background:#f4f4f4;
}

.stmpside {
    position: absolute;
    display: inline;
    min-height: 160px;
    padding: 6px;
}

.stmpare {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 3px;
    margin-bottom: 2px;
    background-color: white;
    border-radius: 5px;
}

.current-stamp {
  width: 100%; 
  margin-top:35px;
}

.current-type {
  float: left; 
  width: 220px; 
}
.current-table2 {
  width:150px;
  margin-top:20px; 
  margin-bottom:20px; 
}
.current-save-stamp {
  border-right:1px solid gray; 
  text-align:center;
  width:220px;
}

#reset-btn {
  margin-top:20px; 
  margin-bottom:10px; 
}

.float-right {
	float: right;
}

.cp-question {
  height:36px;
}
#cp-question-btn {
	float: right;
  margin-right: 5px;
  margin-top: 10px;
}

.regist-stamp-div {
  height:36px;
  text-align:center; 
  font-size:0.7em;
  margin-right: 50px;
  margin-top: 10px;
}

.regist-stamp-div button {
  margin-right: 5px;
  margin-top: 30px;
}
