@CHARSET "UTF-8";

@import url("default.css");
@import url("frame.css");



.event-navi {
  border: 1px;
  margin-bottom: 30px;
}

.event-navi a {
  text-decoration: none;
}

.event-navi li:first-of-type {
	border: 1px;
	width: 115px;
  display: inline-block;
  position: relative;
  font-size: 2em;
}

.event-navi ul li.one, li.two {
	border: 1px;
  display: inline;
  font-size: 1.2em;
}

.event-navi ul a {
  display: inline-block;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}

.event-navi .two:hover ~ hr.underline {
  width: 111px;
  margin-left: 259px;
}


.event-navi .underline {
  height: .25rem;
  width: 133px;
  margin-top: -6px;
  margin-left: 118px;
  background: gray;
  border: none;
  transition: .4s ease-in-out;
  z-index: 99;
}

.event-navi > hr {
  z-index: 1;
  border: 0;
  border: 1px solid rgb(190, 190, 190);
}






.event-btns {
  margin-bottom: 35px;
}


.event-btns .keyword-event {
  width: 130px;
  height: 25px;
  font-size: 0.8em;
  margin-left: 5px;
  padding-left: 5px;
  border: 1px solid gray;
  vertical-align: top;
}

.event-btns #search-event-btn {
	width: 25px;
	height: 25px;
	font-size: 0.8em;
}


.event-btns .btn-img {
	position: relative;
	margin-top: -6px;
	margin-left: -8px;
	width: 18px;
	height: 18px;
}

.event-btns #add-event {
  width: 120px;
  height: 25px;
  float: right;
  font-size: 1em;
  color: white;
  background-color: rgb(255, 89, 72);
  border: 0;
  outline: 0;
  border-radius: 5px;
  vertical-align: top;
  text-align: center;
}




.one-event {
  border: 1px;
  margin-top: 15px;
  height: 150px;
  width: 960px;
}

.one-event img {
  margin-left: 5px;
  width: 550px;
  height: 130px;
}


.event-text {
  /*border: 1px solid black;*/
  display: inline;
  float: right;
  width: 380px;
  height: 130px;
}

.event-title {
  font-size: 1.4em;
}


.event-store {
	margin-top: 6px;
	font-size: 1em;
}

.event-period {
  display: inline-block;
  font-size: 0.8em;
  color: red;
  vertical-align: text-top;
  height: 15px;
  margin-top: 2px;
}

.event-content {
  display: inline-block;
  position: relative;
  margin-top: 2px;
  font-size: 0.9em;
  vertical-align: text-top;
}

.event-box {
  display: inline-block;
  font-size: 10px;
  border: 0;
  border-radius: 3px;
  text-align: center;
  vertical-align: top;
  width: 40px;
  color: white;
  background: rgb(94, 94, 94);
  margin-top: 5px;
}

 
 
.z {
  text-align: center;
}



.z ul.pagination {
	vertical-align: middle;
}

.z ul.pagination li a.active {
	background-color: rgb(94, 94, 94);
	color: white;
	border-radius: 5px;
}

.z > button {
	vertical-align: middle;
}


.one-event hr {
  position: relative;
  margin-top: 15px;
  border: 0;
  border: 1px solid rgb(224, 224, 224);
}

