.con span {
	font-size:2em;
}

hr {
  border:1px solid #dedede;
}
.imgbox {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  width: 900px;
  text-align:center;
  border:1px solid #dedede;
  height:400px;
  background-color:#dedede;
}

.control-label {
  width:200px;
}
.first-length {
	width: 100%;
}
.nameblock-div{
	float:left;
	width:100%;
	margin-bottom:30px;
}

.pchar3 {
  float:left;
  margin-left:15px;
  margin-top:30px;
  font-size:1em;
  width:70px;
  display:inline-block;
}

.col-sm-10 {
  float:right;
}
.col-sm-10 .fileinput-button {
  float:right;
}
.nameblock-div .form-control {
  width:89%;
  margin-top:30px;
  display:inline-block;
  float:left;
  margin-left:6px;
  border: 1px solid #dedede;
  border-radius: 5px;
}

.form-eventdetail {
	border: 1px solid black;
}
.q1-div {
	width:100px; 
	display:inline-block;
	float:left;
	margin-top:30px; 
	text-align:center;
}


.date-div {
	width:400px;
	float:right; 
	margin-top:20px; 
  text-align:center;
}


#datepicker{
	border:1px solid #dedede;
	border-radius: 5px;
	margin-left:5%;
	height:35px;
	width:70%;
}

#datepicker2{
  border:1px solid #dedede;
  border-radius: 5px;
  margin-left:19px;
  height:35px;
  width:70%;
}

.pchar {
	margin-left:20px;
	font-size:1em;
	width:50px;
	margin-right:0px;
	display:inline;
}


.setdate-div {
  width:100%;
  float:left;
  margin-top:20px;
  
}
.startdiv {
	width:45%;
	display:inline-block;
	margin:0px;
}
.enddiv {
  width:45%;
  display:inline-block;
  margin:0px;
  float:right;
}

.eventup-contents {
	width:100%;
	float:left;
  display:inline-block;
  margin-top:20px; 
  position:relative;
}

.eventup-contents .form-contents{
	width:89%;
	height:300px;
	margin-left:1%;
	border-radius: 5px;
  border:1px solid #dedede;
}

.pchar2 {
	float:left;
	top:0;
	left:-5px;
  margin-left:20px;
  font-size:1em;
  margin-right:0px;
  display:inline-block;
}

#cancle-btn2 {
	float:right;
	margin-bottom:5px;
}

.submit-btn {
	margin-top:20px;
}

.ui-datepicker-trigger {
	 margin-left:10px;
   height:28px;
}


.banner-img-div {
	height: 150px;
	margin-bottom: 20px;
	margin-top: 30px;
}

.banner-img-div p.name {
	font-size: 1em;
	float: left;
}

.banner-img-div p.info {
  font-size: 0.8em;
  color: gray;
  margin-top: 10px;
}

.banner-img-div .banner-img {
	width: 550px;
	height: 130px;
	border: 1px solid #ddd;
  margin: 0 20px;
	float: left;
}