

/*************************************************
                                    input style                     
*************************************************/
/************ button style ************/
.btnStyle1 {
    padding: 3px 15px 5px 15px;
    border: 3px solid #e0e0e0;
    color: #555;
    border-radius: 20px;
    letter-spacing: -1px;
}

/************ inputbox style - input1 ************/
.input1[type=checkbox] {
    display: none;
}
.input1[type=checkbox]+label {
    position: relative;
    cursor: pointer;
}
.input1[type=checkbox]+label:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-family:"FontAwesome";
    content: "";
}
.input1[type=checkbox]:checked+label:before {
    border: 1px solid #ff5948;
    font-size: 11px;
    line-height: 15px;
    color: #ff5948;
    text-align: center;
    content: "\f00c";
}



/*************************************************
                                    header                     
*************************************************/
#header {position:fixed; width:100%; z-index:1030; background:url(../image/bg_con.png) no-repeat right top #fff; }
#header .navbar {float:left; height:70px; margin-bottom:0; border:0;}
#header .navbar .sidebar-toggle {float:left; width:120px; height:70px; color:#fff; background:url(../image/btn_navi.png) no-repeat center center #ff5948; background-size:25px 20px; font-size:0; transition:all 0.3s ease .05s;}
#header .navbar .sidebar-toggle:hover {background-color:#ff4040; transition:all 0.3s ease .05s;}

#header .top {
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #ccc;
}

#header .top .logo {
	float: left;
	margin: 7px 0 0 20px;
}

#header .top .logo img {
	width: auto;
	height: 51px;
}

/************ search ************/
#header .top .search {
    position: relative;
    float: left;
    margin-left: 15px;
}

#header .top .search .inputArea {
    position: absolute;
    width: 290px;
    min-height: 40px;
    margin-top: 20px;
    border: 1px solid #b2b2b2;
    border-radius: 20px;
    background: #fff;
}

#header .top .search .inputArea .srchBar {
    float: left;
    width: 240px;
    padding: 8px 20px 9px 20px;
    font-size: 16px;
    color: #555;
    background: transparent;
}

#header .top .search .inputArea .btn_srch {
	float:left;
    width: 40px;
    height: 38px;
    background: url(../image/btn_searchB.png) no-repeat center center;
    font-size: 0;
}

#header .top .search .inputArea .srchList {
    display: none;
    clear: both;
    padding-bottom: 15px;
}

#header .top .search .inputArea:hover .srchList {
    display: block;
}

#header .top .search .inputArea:hover .srchList li {
    border-top: 1px solid #e4e4e4;
    padding: 10px 20px 12px 20px;
    font-size: 15px;
    color: #555;
}

#header .top .search .inputArea:hover .srchList li:hover {
    background: #f6f6f6;
}

#header .top .search .inputArea:hover .srchList .cstmrNm {
    display: inline-block;
    width: 80px;
}

#header .top .search .inputArea:hover .srchList .cstmrTel {
    
}

#header .top .search .btn_newCstmr_top {
    position: absolute;
    left: 295px;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    border: 0;
    background: #444;
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
}

/************ logon-div ************/
#header .top #logon-div {
    float: right;
    min-width: 280px;
    margin: 5px 20px 0 0;
    text-align: right;
}

#header .top #logon-div .logonTxt {
    display: inline-block;
    margin: 0 10px 0 0;
    text-align: right;
    vertical-align: middle;
}

#header .top #logon-div .logonTxt .cafeNm {
    color: #555;
    font-size: 18px;
    font-weight: bold;
    line-height:100%;
}

#header .top #logon-div .logonTxt .hello {
    display: block;
    color: #999;
    font-size: 14px;
    line-height:120%;
}

#header .top #logon-div .profileImg {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    overflow: hidden;
    vertical-align: middle;
    background:#ddd;
}

#header .top #logon-div .profileImg img {
    width: 100%;
    height: auto;
}

/************ profilePop ************/
#header .top .profilePop {
    display: none;
    position: absolute;
    right: 20px;
    top: 70px;
    width: 275px;
    padding: 15px;
    background: #fafafa;
    box-shadow: 3px 3px 10px #d8d8d8;
    text-align: left;
}

#header .top .profilePop .profileImgB {
    float: left;
    width: 90px;
    height: 90px;
    margin-right: 12px;
    border-radius: 50px;
    overflow: hidden;
}

#header .top .profilePop .profileImgB img {
    width: 100%;
    height: auto;
}

#header .top .profilePop .chk-useImg {
    float: left;
    height: 40px;
    margin-top: 11px;
    font-size: 12px;
    color: #666;
    line-height: 150%;
}

#header .top .profilePop .chk-useImg .chkArea {
    display: inline-block;
    vertical-align: sub;
    margin-bottom: 2px;
}

#header .top .profilePop .btnInfo {
    clear: both;
    width: 100%;
    padding-top: 12px;
}

#header .top .profilePop #logout-btn {
    float: left;
    display: inline-block;
    padding: 1px 15px 3px 15px;
    margin-top: 2px;
    border: 2px solid #e0e0e0;
    border-radius: 0;
    font-size: 13px;
    color: #777;
}

#header .top .profilePop .btnInfo .btn-joinInfo {
    float: left;
    padding: 3px 16px 5px 16px;
    font-size: 14px;
    font-weight: bold;
}

#header .top .profilePop .btnInfo .btn-cafeInfo {
    float: left;
    padding: 3px 16px 5px 16px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
}
#header .top .profilePop .close_profilePop {
	position: absolute;
	top: 7px;
	right: 10px;
}


/************ logoff-div ************/
#header .top #logoff-div {
    float: right;
    margin: 23px 20px 0 0;
    background: #fff;
}



/************ addcstmerPop ************/

#header .top .addcstmerPop {
    display: none;
    position: relative;
    border: 4px solid rgb(255, 89, 72);
    width: 330px;
    height: 310px;
    margin: 0 auto;
    top: 250px;
    background-color: white;
    text-align: center;
    padding: 30px 20px;
    -webkit-box-shadow:  0px 0px 0px 9999px rgba(255, 255, 255, 0.7);
    box-shadow:  0px 0px 0px 9999px rgba(255, 255, 255, 0.7);
}


#header .top .addcstmerPop p:first-of-type {
  font-size: 1.6em;
  font-weight: bold;
}


#header .top .addcstmerPop .close_addcstmerPop {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.5em;
  font-weight: bold;
}


#header .top .addcstmerPop .close_addcstmerPop:hover {
	cursor: pointer;
}


#header .top .addcstmerPop .input-div {
  margin-top: 30px;
}


#header .top .addcstmerPop input {
  margin-top: 10px;
  height: 45px;
  background-color: #f9f7f7;
  border: 0;
  border-radius: 4px;
}


#header .top .addcstmerPop input:focus {
  border: 1px solid tomato;
}

#header .top .addcstmerPop .add-btn {
  display: block;
  position: absolute;
  bottom: 30px;
  clear: left;
  margin: auto;
  border-radius: 5px;
  border: 0;
  background-color: #ff5948;
  color: white;
  width: 280px;
  height: 50px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}


/****************** myeditPop ******************/

.myeditPop {
  display: none;
  position: relative;
  border: 4px solid rgb(255, 89, 72);
  width: 330px;
  height: 520px;
  margin: 0 auto;
  top: 200px;
  background-color: white;
  text-align: center;
  padding: 40px 20px;
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(255, 255, 255, 0.7);
  box-shadow:  0px 0px 0px 9999px rgba(255, 255, 255, 0.7);
}


.myeditPop .close {
  position: absolute;
  top: 5px;
  right: 10px;
}



.myeditPop p:first-of-type {
  font-size: 1.5em;
  font-weight: 500;
  font-weight: bold;
}


.myeditPop input {
  margin-top: 5px;
  height: 45px;
  background-color: #f9f7f7;
  border: 0;
  border-radius: 4px;
}



.myeditPop input:focus {
  border: 1px solid tomato;
}


.myeditPop .input-div {
  margin-top: 20px;
}



.myeditPop .edit-btn {
  display: block;
  position: absolute;
  bottom: 40px;
  clear: left;
  margin: auto;
  border-radius: 5px;
  border: 0;
  background-color: #ff5948;
  color: white;
  width: 280px;
  height: 50px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}





/*************************************************
                                  slide left menu area                     
*************************************************/
.slideArea {
    clear: both;
    position: fixed;
    top: 70px;
    left: -20px;
    height: 100%;
    min-height: 915px;
    width: 140px;
    background: #373737;
}

.slideArea .sidebar {
    padding-top: 30px;
    height: 330px;
    background: #ff5948;
    padding-left: 20px;
}

.slideArea .footer {
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 140px;
    padding-top: 15px;
    padding-left: 20px;
    height: 80px;
    background: #212121;
    color: #777;
    text-align: center;
    font-size: 13px;
}

/************ navigation ************/
.slideMn li {
    position: relative;
}

.slideMn li.treeview>a {
    display: block;
    width: 120px;
    height: 70px;
    font-size: 16px;
    border-bottom: 1px solid #f24e3f;
    text-align: center;
    color: #fff;
    line-height: 67px;
    letter-spacing: 0.02em;
    transition: all 0.5s ease .03s;
}

.slideMn li.treeview {
    background-position: center;
    transition: all 0.3s ease-out .03s;
}

.slideMn li.treeview.searchCstmr.active {
    background: url(../image/mn_icon_searchCstmr.png) no-repeat center center #fff;
    background-size: auto auto;
}

.slideMn li.treeview.statistics.active {
    background: url(../image/mn_icon_statistics.png) no-repeat center center #fff;
    background-size: auto auto;
}

.slideMn li.treeview.event.active {
    background: url(../image/mn_icon_event.png) no-repeat center center #fff;
    background-size: auto auto;
}

.slideMn li.treeview.active>a {
    font-size: 0;
    color: transparent;
}

.slideMn li.treeview.active .treeview-menu {
    display: none;
}

.slideMn li.treeview .treeview-menu {
    display: none;
}

/************ etc menu ************/
.btn_cafeInfo {
    display: block;
    padding: 30px 5px;
    background: #ff4040;
    padding-left: 20px;
    border-bottom: 1px solid #222;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.btn_message {
    display: block;
    height: 60px;
    background:url(../image/icon_messageR.png) no-repeat center center;
    font-size: 0px;
    margin-left: 20px;
}

.btn_message .newMsg {
    display: block;
    width: 70px;
    height: 60px;
    margin: -13px 0 0 70px;
    padding-top: 8px;
    background: url(../image/message_newBg.png) no-repeat right top;
    font-size: 20px;
    font-weight: bold;
    color:#ff4040;
    text-align: center;
    font-style: italic;
    transition:all 0.3s ease .05s;
}

.btn_mobile {
    display: block;
    margin: 170px 10px 7px 30px;
    padding: 7px;
    background: #333;
    border: 1px solid #2f2f2f;
    border-radius: 5px;
    color: #888;
    font-size: 13px;
    text-align: center;
}

.btn_guide {
    display: block;
    margin: 0 10px 7px 30px;
    padding: 5px;
    background: #333;
    border: 1px solid #2f2f2f;
    border-radius: 5px;
    color: #888;
    font-size: 13px;
    text-align: center;
}

.btn_cafeInfo:hover {
	color:#fff;
}

.btn_message:hover, .btn_mobile:hover, .btn_guide:hover {
    color:#888;
}


/*************************************************
                                sliding left menu     
*************************************************/
/************ leftMenu ************/
#content {-webkit-transition:-webkit-transform .3s cubic-bezier(.32, 1.25, .375, 1.15); -moz-transition:-moz-transform .3s cubic-bezier(.32, 1.25, .375, 1.15); -o-transition:-o-transform .3s cubic-bezier(.32, 1.25, .375, 1.15); transition:transform .3s cubic-bezier(.32, 1.25, .375, 1.15); -webkit-transition: margin-left .3s cubic-bezier(.32, 1.25, .375, 1.15); -o-transition: margin-left .3s cubic-bezier(.32, 1.25, .375, 1.15); transition:margin-left .3s cubic-bezier(.32, 1.25, .375, 1.15); margin-left:60px; z-index:820;}
.slideArea {-webkit-transition:-webkit-transform .3s cubic-bezier(.32, 1.25, .375, 1.15); -moz-transition:-moz-transform .3s cubic-bezier(.32, 1.25, .375, 1.15); -o-transition:-o-transform .3s cubic-bezier(.32, 1.25, .375, 1.15); transition:transform .3s cubic-bezier(.32, 1.25, .375, 1.15); z-index:810;}

/************ slide leftMenu ************/
@media screen and (max-width:999px){
    #content {margin-left:0px; transition:all 0.5s ease .05s;}
    .slideArea {-webkit-transform:translate(-120px, 0); -ms-transform:translate(-120px, 0); -o-transform:translate(-120px, 0);transform:translate(-120px, 0)}
    .slideArea .btn_message .newMsg {margin: -13px 0 0 30px;}
    .sidebar-open .slideArea {-webkit-transform:translate(0, 0); -ms-transform:translate(0, 0); -o-transform:translate(0, 0); transform:translate(0, 0)}
    .sidebar-open .slideArea .footer {-webkit-transform:translate(0, 0); -ms-transform:translate(0, 0); -o-transform:translate(0, 0); transform:translate(0, 0)}
    .sidebar-open #content {-webkit-transform:translate(120px, 0); -ms-transform:translate(120px, 0); -o-transform:translate(120px, 0); transform:translate(120px, 0)}
}
@media screen and (min-width:1000px){
    .sidebar-collapse, 
    .sidebar-collapse #content {margin-left:0px;}
    .sidebar-collapse .slideArea {-webkit-transform:translate(-120px, 0); -ms-transform:translate(-120px, 0); -o-transform:translate(-120px, 0); transform:translate(-120px, 0)}
    .sidebar-collapse .slideArea .btn_message .newMsg {margin: -13px 0 0 30px;}
}