@CHARSET "UTF-8";



.login body {
  background-color:#140a08;
  height: 100%;
  background-repeat: no-repeat;
}

.login .container.login {
	position:absolute;
  background-image: url("../image/hotchocolate2.jpg");
  background-size: cover;
  display: table;
}



/****************** login main ******************/

.login-main {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  /*border: 4px solid rgb(255, 89, 72);*/
  margin-top: -40px;
  text-align: center;
}

.login-main .login-title {
  margin-bottom: 25px;
  font-size: 0;
  height: 60px;
  background: url("../image/logo.png") no-repeat center center;
}


.login-main .form-control {
  display: inline-block;
  height: 45px;
  width: 282px;
  border-radius: 2px;
}

.checkbox {
  color: #dde2e1;
}


.login-main .login-btn {
  display: block;
  clear: left;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
  border: 0;
  background-color: #ff5948;
  color: white;
  width: 280px;
  height: 40px;
  text-align: center;
  font-size: 1.2em;
  height: 40px;
}


.login-main .login-btn:hover {
  background-color: rgba(255, 89, 72, 0.89);
  color: white;
}

.login-main .login-btn:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(255, 89, 72, 0.93);
    background: tomato;
}


.forgot {
  margin: auto;
  width: 140px;
  font-size: 0.75em;
  margin-top: 5px;
  color: white;
}


.forgot .id {
  display: inline-block;
  float: left;
  color: white;
}

.forgot .password {
  display: inline-block;
  float: right;
  color: white;
}



.login-main .register-btn {
  display: block;
  clear: left;
  margin: auto;
  margin-top: 25px;
  border: 3px solid #efefef;
  border-radius: 20px;
  background-color: white;
  color: #555;
  font-weight: bold;
  width: 280px;
  height: 40px;
  text-align: center;
}




/****************** loginPop ******************/
.loginPop {
  width: 100%;
  display: none;
  margin: 0 auto;
  text-align: center;
}






/****************** verify code ******************/

.verify-code {
  display: none;
  position: absolute;
  border: 4px solid rgb(255, 89, 72);
  width: 330px;
  height: 490px;
  margin: auto;
  background-color: white;
  text-align: center;
  padding: 40px 20px;
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.6);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.6);
}


.verify-code .close {
  position: absolute;
  top: 5px;
  right: 10px;
}


.verify-code p:first-of-type {
  width: 280px;
  color: gray;
  margin: auto;
  margin-bottom: 10px;
}

.verify-code p:nth-of-type(2) {
  font-size: 0.9em;
  color: rgb(200, 200, 200);
  margin: auto;
  margin-bottom: 30px;
}

.verify-code input {
  height: 45px;
  background-color: #f9f7f7;
  border: 0;
  border-radius: 4px;
  text-align: center;
  font-size: 1.2em;
}

.verify-code input:focus {
  border: 1px solid tomato;
}

.verify-code .send-btn {
  display: block;
  clear: left;
  margin: auto;
  margin-top: 25px;
  border: 3px solid #efefef;
  border-radius: 20px;
  background-color: white;
  color: #555;
  font-weight: bold;
  width: 280px;
  height: 40px;
  text-align: center;
}


.verify-code .left-time {
  font-size: 1.8em;
  text-align: center;
  margin: 15px 0px;
}


.verify-code .ok-btn {
  display: block;
  clear: left;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  border: 0;
  background-color: #ff5948;
  color: white;
  width: 280px;
  height: 40px;
  text-align: center;
}




/****************** find id ******************/

.find-id {
  display: none;
  position: absolute;
  border: 4px solid rgb(255, 89, 72);
  width: 330px;
  height: 300px;
  margin: auto;
  background-color: white;
  text-align: center;
  padding: 60px 20px;
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.6);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.6);
}


.find-id p:first-of-type {
  color: gray;
  text-align: center; 
  margin-top: 30px;
}

.find-id .your-id {
  font-size: 2em;
  color: black;
  text-align: center;
  font-weight: bold;
}

.find-id .login-btn {
  display: block;
  position: absolute;
  bottom: 40px;
  clear: left;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  border: 0;
  background-color: #ff5948;
  color: white;
  width: 280px;
  height: 50px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}






/****************** find password ******************/

.find-password {
  display: none;
  position: absolute;
  border: 4px solid rgb(255, 89, 72);
  width: 330px;
  height: 320px;
  margin: auto;
  background-color: white;
  text-align: center;
  padding: 30px 20px;
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.6);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.6);
}


.find-password p:first-of-type {
  font-size: 1.5em;
  font-weight: 500;
}


.find-password .input-div {
  margin-top: 30px;
}


.find-password input {
  margin-top: 10px;
  height: 45px;
  background-color: #f9f7f7;
  border: 0;
  border-radius: 4px;
}


.find-password input:focus {
  border: 1px solid tomato;
}


.find-password .login-btn {
  display: block;
  position: absolute;
  bottom: 40px;
  clear: left;
  margin: auto;
  border-radius: 5px;
  border: 0;
  background-color: #ff5948;
  color: white;
  width: 280px;
  height: 50px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}







/****************** register ******************/

.register {
  display: none;
  position: absolute;
  border: 4px solid rgb(255, 89, 72);
  width: 330px;
  height: 520px;
  margin: auto;
  background-color: white;
  text-align: center;
  padding: 40px 20px;
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.6);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.6);
}


.register .close {
  position: absolute;
  top: 5px;
  right: 10px;
}



.register p:first-of-type {
  font-size: 1.5em;
  font-weight: 500;
}


.register input {
  margin-top: 5px;
  height: 45px;
  background-color: #f9f7f7;
  border: 0;
  border-radius: 4px;
}



.register input:focus {
  border: 1px solid tomato;
}


.register .input-div {
  margin-top: 20px;
}



.register .login-btn {
  display: block;
  position: absolute;
  bottom: 40px;
  clear: left;
  margin: auto;
  border-radius: 5px;
  border: 0;
  background-color: #ff5948;
  color: white;
  width: 280px;
  height: 50px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}