@CHARSET "UTF-8";


.modal-content hr {
  border: 1px solid #ececec;
}

h4 {
  font-size: 1.4em;
  font-weight: bold;
}


.modal-dialog {
    width: 465px;
    margin: 30px auto;
}

.modal-header {
	padding:10px!important;
  background-color: #ff5948;
  color: white;
}

.modal-header .close span {
  color: white;
  font-size: 1.2em;
}

.modal-header .modal-title {
  text-align: center;
}

.modal-header > img {
  width: 25x;
  float: left;
}

.modal-header > img:hover {
  cursor: pointer;
}






.modal-content {
  position: relative;
  width: 465px;
  min-height: 590px;
  text-align: left;
}


.modal-content .modal-footer {
  position: absolute;
  bottom: 0;
  width: 463px;
  background-color: white;
}


.modal-content .modal-body {
  position: relative;
  padding: 0px;
  height: 510px;
  overflow-y: auto;
  overflow-x: hidden;
}
.msgArea {
	display:none;
}

.modal-content .modal-body::-webkit-scrollbar {
    width: 12px;
}
.modal-content .modal-body::-webkit-scrollbar-track {
    background-color: #eaeaea;
}
.modal-content .modal-body::-webkit-scrollbar-thumb {
    background-color: rgba(110, 110, 110, 0.2);
}
.modal-content .modal-body::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}




.cafetype {
  border-bottom: 1px solid #eee;
  padding: 5px 10px;
}


.btn-inbox, .btn-sent {
  width: 70px;
  height: 30px;
  color: gray;
  padding: 0;
  border-radius:5px;
  border:1px solid #cfcfcf;
  float:left;
  text-align:center;
  line-height:28px;
  margin-right:5px;
  cursor:pointer;
}

.select-category {
  color: #fff;
  background-color: #9c9c9c;
  border-color: #9c9c9c;
}







.msgArea {
    clear:both;
    display:none;
}


.one-msg {
    cursor:pointer;
    position: relative;
    padding: 10px;
  height: 90px;
  border-bottom: 1px solid #eee;
}

.one-msg:active {
  background-color: #f3f3f3;
}

.one-msg .msg-left {
  position: relative;
  display: inline-block;
  margin-right: 2%;
}

.msg-left img {
	width:65px;
    height: 65px;
    vertical-align: inherit;
}


.one-msg .msg-content {
    width: 73%;
  position: relative;
  display: inline-block;
  vertical-align: top;
}


.msg-content .sub {
  margin-bottom: 5px;
}


.msg-content .sub .cafe-name {
  font-size: 1.24em;
  font-weight: bold;
}


.msg-date {
    position: absolute;
    top: 10px;
    right: 10px;
  font-size: 0.9em;
  color: #b9b9b9;
}

.btn-delete {
    position: absolute;
    top: 30px;
    right: 10px;
}

.msg-content .pre-msg {
  display: inline-block;
  max-height: 42px;
}








/********************* write message ****************************/

.btn-write {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: block;
    width: 100px;
    height: 100px;
    background: #ff5948;
    border-radius: 100px;
    text-align: center;
    color: #fff !important;
    text-shadow: none;
    line-height: 100px;
    text-decoration: none;
    z-index:100;
}

.writeWrap {
    display:none;
    z-index:1000;
    margin-top:-50px;
    background: rgba(0, 0, 0, .6);
    position: fixed;
    width: 100%;
    height: 100%;
}

.ui-overlay-shadow {
    box-shadow : 0 0 12px rgba(0,0,0,.3)!important;
    border:1px solid #ddd!important;
}

.writeArea {
    display:none;
    width:80%; 
    height: 400px;
    margin:0 auto;
    background:#fff;
    position:relative;
    box-shadow:0 5px 15px rgba(0, 0, 0, .5);
    border-radius:10px;
}

.writeArea .tit {
    font-size:1.4em;
    padding:15px 0;
    text-align:center;
    border-bottom:1px solid #ddd;
}

.inputWrap {
    padding:20px 3%;
}

.writeArea .chat-input.form-control {
    height: 200px!important;
    width: 100%;
    padding: 5px;
}

.writeArea .btn-send {
    background: #ff5948;
    width: 100%;
    height: 40px;
    cursor: pointer;
    text-align:center;
    clear:both;
}

.writeArea .btn-send img {
    width: 10%;
}

.btn-close {
    position:absolute;
    top:10px;
    right:20px;
}


/*********************message detail****************************/

.message-detail {
}




.chat {
  margin: 10px;
  display: inline-block;
  width: 430px;
}

.bubble{
    background-color: #fdfdfd;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    min-height: 40px;
}

.bubble::before {
    background-color: #fdfdfd;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: left;
    clear: both;
    margin: 5px 45px 5px 20px;         
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.you {
    float: right;
    clear: both;
    margin: 5px 20px 5px 45px;         
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}









.chat-cstmer {
  border-bottom: 1px solid #e0e0e0;
  width: 463px;
  height: 100px;
  padding: 5px 12px;
}


.chat-cstmer .cstmer-img {
  display: inline-block;
  float: left;
  width: 87px;
}


.chat-cstmer .cstmer-info {
  display: inline-block;
  float: left;
  margin-top: 5px;
  margin-left: 15px;
  width: 120px;
}


.chat-cstmer .cstmer-info .name {
  font-size: 1.5em;
}


/* .chat-cstmer .cstmer-info span, a {
  display: block;
} */


.chat-cstmer .mylogo {
  width: 60px;
  float: right;
  margin-right: 10px;
}

.chat-input {
  width: 355px;
  height: 60px;
  padding: 5px;
  display: inline-block;
  float: left;
}

.btn-send {
  width: 78px;
  height: 52px;
  background-color: rgb(255, 89, 72);
  border-radius: 0 5px 5px 0;
  border: none;
  color: white;
  
}

