@CHARSET "UTF-8";

@import url("default.css");
@import url("frame.css");




.manage-navi {
  border: 1px;
  margin-bottom: 30px;
}

.manage-navi a {
  text-decoration: none;
}

.manage-navi li:first-of-type {
  border: 1px;
  width: 150px;
  display: inline-block;
  position: relative;
  font-size: 2em;
}

ul li:nth-of-type(2), li:nth-of-type(3), li:nth-of-type(4) {
  border: 1px;
  display: inline;
  font-size: 1.2em;
}

ul a {
  display: inline-block;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}








.one:hover ~ hr.underline {
  width: 77px;
  margin-left: 153px;
}


.two:hover ~ hr.underline {
  width: 90px;
  margin-left: 237px;
}


.three:hover ~ hr.underline {
  width: 117px;
  margin-left: 335px;
}




.underline {
  height: .25rem;
  width: 77px;
  margin-top: -6px;
  margin-left: 153px;
  background: gray;
  border: none;
  transition: .4s ease-in-out;
  z-index: 99;
}

.manage-navi > hr {
  z-index: 1;
  border: 0;
  border: 1px solid rgb(190, 190, 190);
}







.calendar {
  <!--border: 1px solid red;-->
  border: 1px;
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 1.25em;
}


.calendar-icon {
  width: 22px;
  height: 22px;
  position: relative;
  margin: 4px 5px;
  vertical-align: top;
}


.input-day {
  text-align: center;
  font-size: 1.2em;
  border: 0;
  border-bottom: 3px solid #eee;
  width: 290px;
  height: 28px;
  vertical-align: bottom;
  cursor: pointer;
}





.date-picker-wrapper .month-wrapper table .day.lalala { background-color:orange; }
.options { display:none; border-left:6px solid #8ae; padding:10px; font-size:1em; line-height:1.4; background-color:#eee; border-radius:4px;}
.date-picker-wrapper.date-range-picker19 .day.first-date-selected { background-color: red !important; }
.date-picker-wrapper.date-range-picker19 .day.last-date-selected { background-color: orange !important; }









#stat-graph, #stat-graph2 {
  border: 1px solid #E6E6E6;
  margin-top: 60px;
}
