@CHARSET "UTF-8";

@import url("default.css");
@import url("frame.css");

#wrapper
    {
    }
    .demo { margin:0;}
    .date-picker-wrapper .month-wrapper table .day.lalala { background-color:orange; }
    .options { display:none; border-left:6px solid #8ae; padding:10px; font-size:1em; line-height:1.4; background-color:#eee; border-radius:4px;}
    .date-picker-wrapper.date-range-picker19 .day.first-date-selected { background-color: red !important; }
    .date-picker-wrapper.date-range-picker19 .day.last-date-selected { background-color: orange !important; }

