@CHARSET "UTF-8";

@import url("slick.css");


.cafeinfo #container {
    padding:30px 0 15px 0;
}


/************ introArea ************/
.introArea {
	padding:0 3%;
	height: 130px;
}

.introArea .cafeLogo {
    float:left;
    width:25%;
    border:1px solid #ececec;
    text-align:center;
    padding:3%;
}

.introArea .cafeLogo img {
	height:60px;
}

.introArea .cafeTxt {
    float:left;
    width:68%;
    margin-left:3%;
}

.introArea .cafeTxt .cafeName {
    font-size:1.7em;
    color:#333;
    font-weight:bold;
    letter-spacing:-1px;
}

.introArea .cafeTxt .tag {
	display:block;
	margin:7px 0 0 0;
    font-size:0.9em;
    color:#999;
}

.introArea .cafeTxt .tag span {
    margin-right:10px;
}

.introArea .btn-edit {
	position:absolute;
	top:25px;
	right:5%;
	width:20px;
	height:20px;
	background:#fff;
    color:#999;
    overflow:hidden;
}

.cafeinfo_cstmr .introArea .cafeTxt .btn-edit {
	display:none;
}
	
.introArea .btn-edit:before {
	font-size:1.2em;
	display:block;
	margin-left:5px;
    font-family:"FontAwesome";
    content: "\f040";
}

.introArea .cafeTxt .txt {
    clear:both;
    padding-top:5px;
    color:#808080;
    font-size:0.7em;
}

.like {
	position:absolute;
    top:123px;
    right:4%;
	width:70px;
	height:70px;
    border:3px solid #f0f0f0;
    border-radius: 50px;
    text-align:center;
    background:#fff;
    cursor:pointer;
    z-index:50;
    font-size:0.9em;
}

.like:before {
	text-align:center;
	display:block;
	margin-top:10px;
	height:30px;
    font-family:"FontAwesome";
    font-size:2em;
    content: "\f004";
    color:#ff5948;
}

.like.select:before {
    content: "\f004";
    color:#ff5948;
}



/************ imgInfoArea ************/
.imgInfoArea {
    clear:both;
}

.imgInfoArea .card {
    width:100%;
    border-bottom:10px solid #f4f4f4;
}

.imgInfoArea .card h3 {
    padding:10px 3%;
    font-size:1.4em;
    color: #444;
    font-weight:bold;
    letter-spacing:-1px;	
}

.imgInfoArea .card .cardArea {
    background:#f4f4f4;
    text-align:center;
}

.imgInfoArea .card .cardArea img {
    width:100%;
}

.imgInfoArea .card .cardInfo {
    padding:15px 20px 30px 20px;
    text-align:center;
}

.imgInfoArea .card .cardInfo .stampNum {
    padding-top:10px;
}

.imgInfoArea .card .cardInfo .stampNum .txt1 {
    font-size:1.2em;
    line-height:100%;
}

.imgInfoArea .card .cardInfo .stampNum .txt1 span {
    font-size:2.5em;
    color:#333;
}

.imgInfoArea .card .cardInfo .stampNum .txt2 {
	color:#555;
    padding:7px 4%;
    font-size:0.9em;
}

.imgInfoArea .card .cardInfo .stampNum .txt2 span {
    color:#333;
    text-decoration: underline;
    font-size:1.2em;
}

.imgInfoArea .card .cardInfo {
}

.imgInfoArea .imgInfo {
    position:relative;
    width:100%;
    height:360px;
}

.imgInfoArea .imgInfo .cafeImg {
    height:210px;
    background:#f4f4f4;
}

.cafeImgSlide > div {
	height:210px;
	overflow:hidden;
}

.cafeImgSlide > div img {
	height:210px;
	width:auto;
}

/* cafe interior images slide */
.cafeImgSlide.slider .slick-slide {
    box-sizing: border-box;
    margin: 0px;
}

.cafeImgSlide.slider .slick-slide img {
    width: 100%;
}

.cafeImgSlide .slick-prev {
   background:rgba(255, 255, 255, 0.3);
   width:auto;
   height:auto;
   padding:30px 10px;
   left:0;
   z-index:100;
}

.cafeImgSlide .slick-next {
   background:rgba(255, 255, 255, 0.3);
   width:auto;
   height:auto;
   padding:30px 10px;
   right:0;
   z-index:100;
}

.cafeImgSlide .slick-prev:hover, .cafeImgSlide .slick-next:hover {
    background:rgba(255, 255, 255, 0.7);
}

.cafeImgSlide .slick-dots {
    top:-40px;
    background:#ddd;
    height:0;
    text-align: center;
}

.cafeImgSlide .slick-dots li {
    margin:0;
}

.cafeImgSlide .slick-dots li button { 
    padding:0;
    line-height:100%;
}

.cafeImgSlide .slick-dots li button:before { 
    padding:0;
    font-size:40px;
    line-height:100%;
    width:10px;
    height:10px;
}
/* //cafe interior images slide */


 .imgInfo .infoDetail {
    padding:15px;
}

.imgInfo .infoDetail .time,
.imgInfo .infoDetail .seat,
.imgInfo .infoDetail .tel,
.imgInfo .infoDetail .addr
{
	font-size:0.9em;
	color:#666;
}
	
.imgInfoArea .imgInfo .infoDetail .time:before,
.imgInfoArea .imgInfo .infoDetail .seat:before,
.imgInfoArea .imgInfo .infoDetail .tel:before,
.imgInfoArea .imgInfo .infoDetail .addr:before
{
	width:20px;
	padding-right:7px;
    font-family:"FontAwesome";
    color:#b4b4b4;
    display:inline-block;
    text-align:center;
}

.imgInfoArea .imgInfo .infoDetail .time:before {
    content: "\f017";
}

.imgInfoArea .imgInfo .infoDetail .seat:before {
    content: "\f007";
}

.imgInfoArea .imgInfo .infoDetail .tel:before {
    content: "\f095";
}

.imgInfoArea .imgInfo .infoDetail .addr:before {
    content: "\f041";
}

.imgInfoArea .imgInfo .infoDetail .btn-showMap {
    position:absolute;
    bottom:10px;
    right:10px;
    width:40px;
    height:40px;
    background:#666;
    border-radius: 40px;
    border:0;
    font-size:0;
}

.imgInfoArea .imgInfo .infoDetail .btn-showMap:before {
    font-family:"FontAwesome";
    content: "\f041";
    color:#fff;
    font-size:25px;
}

.imgInfoArea .imgInfo .map {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.imgInfoArea .imgInfo .map .btn-hideMap {
    position:absolute;
    bottom:10px;
    right:10px;
    width:40px;
    height:40px;
    background:#666;
    border-radius: 40px;
    border:0;
    font-size:0;
}

.imgInfoArea .imgInfo .btn-hideMap:before {
    font-family:"FontAwesome";
    content: "\f00d";
    color:#fff;
    font-size:25px;
}


/************ 대표메뉴 menuArea ************/
.menuArea {
    clear:both;
    padding:15px 3% 0 3%;
}

.menuArea h3 { 
	font-size:1.4em;
	margin-bottom:10px;
	color: #444;
    font-weight:bold;
    letter-spacing:-1px;
}

/* cafe interior images slide */
.menuArea .menuSlide {
	padding:0 2%;
}
.menuArea .menuSlide.slider .slick-slide {
    box-sizing: border-box;
    margin: 0px;
}

.menuArea .menuSlide.slider .menu {
	text-align:center;
	width:33%;
	height:100%;
}
	
.menuArea .menuSlide.slider .menu .mnImg {
	margin: 0 auto 10px auto;
    width:90%;
    height:auto;
	border:1px solid #f0f0f0;
	border-radius:100px;
	overflow:hidden;
}

.menuArea .menuSlide.slider .menu .mnImg img {
	width:100%;
}

.menuArea .menuSlide.slider .menu .mnName {
	color:#333;
	font-size:1.1em;
	font-weight:bold;
}

.menuArea .menuSlide.slider .menu .mnPrice {
}

.slick-prev {
	left:-12px;
}

.slick-next {
	right:-12px;
}

.slick-prev:before {
	font-family:"FontAwesome";
	color:#333;
    content: "\f053";
}

.slick-next:before {
	font-family:"FontAwesome";
	content: "\f054";
    color:#333;
}

.menuArea .slick-dots {
    top:-30px;
    right:0;
    height:0;
    text-align: right;
}

.menuArea .slick-dots li {
    margin:0;
}

.menuArea .slick-dots li button { 
    padding:0;
}

.menuArea .slick-dots li button:before { 
    padding:0;
    font-size:40px;
}

.menuArea .slick-dotted.slick-slider {
    margin-bottom:0;
}
/* //cafe interior images slide */


/************ 평점 및 리뷰 commentArea ************/
.commentArea {
	position:relative;
	clear: both;
	width: 100%;
	padding:50px 0 0 0;
}

.commentArea h3 {
	color: #444;
	font-weight:bold;
	letter-spacing:-1px;
	font-size:1.4em;
	margin:0 3%;
}

/* 별점 starScore */
.commentArea .starScore {
	padding-top:10px;
	height:20px;
	margin:0 3%;
}

.commentArea .starScore .result {
	float:left;
    font-size:0.9em;
    margin:2px 15px 0 0;
}

.commentArea .starScore .result span {
	color:#ff5948;
}

.starScore .star {
	float:left;
	width: 100px;
	height: 17px;
	background: url(../image/rate_star.png) no-repeat -100px 0;
	background-size:200px 17px;
}

.starScore .star span {
	display: block;
	width: 100px;
    height: 17px;
	background: url(../image/rate_star.png) no-repeat 0 0;
	background-size:200px 17px;
	font-size:0;
}

.starScore .star span.star0 {width:0%;}
.starScore .star span.star0_5 {width:10%;}
.starScore .star span.star1 {width:20%;}
.starScore .star span.star1_5 {width:30%;}
.starScore .star span.star2 {width:40%;}
.starScore .star span.star2_5 {width:50%;}
.starScore .star span.star3 {width:60%;}
.starScore .star span.star3_5 {width:70%;}
.starScore .star span.star4 {width:80%;}
.starScore .star span.star4_5 {width:90%;}
.starScore .star span.star5 {width:100%;}

.commentArea .comment_list {
    font-size: 0.8em;
}

.commentArea .comment_list .total {
	margin: 30px 3% 2px 3%;
	color: #666;
	font-size:1.3em;
}

.commentArea .comment_list ul {
    border-top: 2px solid #555;
}

.commentArea .comment_list .total span {
	font-weight: bold;
	color: #ff5948;
}

.commentArea .comment_list ul:after {
	clear: both;
}

.commentArea .comment_list li {
	float: left;
	width: 100%;
	border-bottom: 1px solid #e7e8e9;
	padding:0 3%;
}

.commentArea .comment_list li .profileImg {
	float: left;
	width: 15%;
	height: 15%;
	padding: 14px 2% 0 0;
	overflow: hidden;
}

.commentArea .comment_list li .profileImg img {
	width: 100%;
	border-radius: 50px;
}

.commentArea .comment_list li .comment_txt {
	float: left;
	width: 82%;
	padding: 15px 0 7px 0;
}

.commentArea .comment_list li .comment_txt strong {
	font-size: 1.3em;
	font-weight: bold;
	color: #333;
	line-height: 100%;
}

.commentArea .comment_list li .comment_txt p {
	margin-top: 3px;
	width: 100%;
	font-size: 1.2em;
	letter-spacing: -1px;
}

.commentArea .comment_list li .etcInfo {
	float:right;
	padding-bottom:12px;
	text-align: right;
	font-size: 1.1em;
}

.commentArea .comment_list li .date {
	color: #a8a8a8;
}

.comment_list .star {
    display: inline-block;
    float: right;
    width: 80px;
    height: 13px;
    background: url(../image/rate_starS.png) no-repeat -80px 0;
    background-size:160px 13px;
}

.comment_list .star span {
    display: block;
    height: 13px;
    background: url(../image/rate_starS.png) no-repeat 0 0;
    font-size:0;
    background-size:160px 13px;
}

.comment_list .star span.star0 {width:0%;}
.comment_list .star span.star0_5 {width:10%;}
.comment_list .star span.star1 {width:20%;}
.comment_list .star span.star1_5 {width:30%;}
.comment_list .star span.star2 {width:40%;}
.comment_list .star span.star2_5 {width:50%;}
.comment_list .star span.star3 {width:60%;}
.comment_list .star span.star3_5 {width:70%;}
.comment_list .star span.star4 {width:80%;}
.comment_list .star span.star4_5 {width:90%;}
.comment_list .star span.star5 {width:100%;}

.commentArea .brn_more {
	width: 100%;
	margin-top: 15px;
	background: #f6f6f6;
	text-align: center;
	color: #888;
	font-size: 1em;
	border: 0;
	padding: 12px 0 12px 0;
}