.eventlist .con {
	position: relative;
}


.main {
    background:#f4f4f4;
}

.main #container {
    padding:0;
}

.secTit {
	margin-bottom:5px;
}




/************ 이벤트배너영역 `Bn ************/
.eventBn {
	margin-top:0px;
}

.eventBn h3 {
	width:80%;
    font-size:1.2em;
    margin:0 auto 20px auto;
    color: #444;
    font-weight:bold;
    letter-spacing:-1px;
    text-align:center;
    border:1px solid #333;
    padding:5px 10px 3px 10px;
    border-radius:30px;
}

.eventBn ul {
    margin-bottom:60px;
}

.eventBn li {
	padding:0 3%;
    margin-bottom:5px;
}

.eventBn li img {
    width:100%;
}





.add-new-btn {
  background:#ff5948;
  color:white;
  position: absolute;
  bottom: 30px;
}